{canvas index}
{component PageHeader}


<div class="content_100">

                            <!--чёрная верхняя линия-->
                            <div class="content_head row-fluid">
                                    <div class="span2">

        <span class="menu_text" style="font-size:13px">FANTASYLAND</span>
                                    </div>
                                    <div class="span5">
<span class="menu_text" style="font-size:13px">
    WHERE YOU FIND ALL YOUR KUINKEYS VIDEOS 
</span>
    </div>
                                    <div class="span4">
        <div id="darck_smile"></div>
                                    </div>
                                    <div style="clear:both;"></div>
                            </div>

                            <div class="content_profile_info">
                                    <div class="row">
        <div class="span5" style="text-align: left; margin-top: 10px; margin-bottom: 10px;">
          {*  <span class="video_name">SOMETHING YOUR SEARCH</span>
                <div class="input-append" style="margin-top: 7px;">
                                                                    <input id="searc_input" class="span2" size="16" type="text">
                                                                    <span class="add-on"><img src="/static/img/searchi.png"></span>
                                                            </div>*}
                                                            {component TopTag}
        </div>
        <div class="span4"></div>
    </div>								
                            </div>

                            <div class="content_text">
<div class="content_menu">
                                                    <div class="this_me">FEATURED VIDEO</div>
                                            </div>
                                    {component TopVideo}

                                    {component Landing list_type=$list_type}



                            </div>
            </div>


{component PageFooter}
{/canvas}