{* Component Profile Video *}
{canvas}
{container}
<br />
	<div class="float_half_left wide">
		{component ProfileVideoList}
	</div>
	<div class="float_half_right narrow">
		{component VideoUpload}
	</div>
{/container}
{/canvas}
