{canvas}
{container}
	{include_style file="default.style"}
	<div class="search_page">
		<div class="float_half_left">
			{component MainSearch}
		</div>
		<div class="float_half_right">
			{component UsernameSearch}
			{component KeywordSearch}
		</div>
        <br clear="all" />
	</div>
{/container}
{/canvas}