{* component ThisIsMeSLider *}
{container stylesheet="style.style"}
<input type="hidden" id="profile_id" value="{$profile_id}" />
{if $video_id}
<div class="top_video">
        <div class="padding10">
                <div class="row">
                    <div class="top_video_player span6">
                            {if $video_info.video_source eq 'file'}
                                    {*component VideoPlayer video_file_url=$video_info.video_url width=455 height=300 style="color: red"*}
                                    <embed width="455" height="270" flashvars="file={$video_info.video_url}&amp;showdownload=true&amp;bufferlength=5&amp;skin=/flashplayer/beelden/beelden.xml&amp;logo=/userfiles/video_watermark_img_406337334.jpg&amp;image={$video_thumb}" allowfullscreen="true" quality="high" name="opaque" wmode="transparent" id="opaque" style="undefined" src="/flashplayer/mediaplayer.swf" type="application/x-shockwave-flash">
                            {else}
                                    {$video_info.code}
                            {/if}
                           
                            
                     <div class="video_pagin row">
                            <span id="{if $active eq(1)}1{else}{$active-1}{/if}" class="left_item pagin_item span1">Newer</span>
                             <span class="pagin_item span1" id="1"><span href="" style="border: none;" class="{if $active ==1}active_slider{/if} pagin_d">1</span></span>
                             {foreach from=$total item=p}
                                    <span href="#"  id="{$p.num}" class="pagin_item span1"><span class="{if $active ==$p.num}active_slider{/if} pagin_d">{$p.num}</span></span>
                             {/foreach}     
                             <span id="{if $active eq($tot)}1{else}{$active+1}{/if}" class="older pagin_item span1">Older</span>
                     </div>
                            
                        </div>
                                <div class="video_desc_top span3">
                                        <div id="video_desc_text">
                                                <span class="video_title">{$video_info.title|smile|censor:"video":true|out_format}</span><br>
                                               {$video_info.description|out_format:"comment"|smile|censor:"video":true}
                                        </div>                                            
                                          <div class="soc_share">
                                                  Share me!
                                                  <a href=""><img src="/layout/img/google.png"></a>
                                                  <a href=""><img src="/layout/img/ttt.png"></a>
                                                  <a href=""><img src="/layout/img/twitter_share.png"></a>
                                                  <a href=""><img src="/layout/img/facebook_share.png"></a>
                                          </div>
                                            
                                </div>
                </div>
        </div>
</div>
                                            <div class="content_tab">
                                                <div class="line"></div>
                                            </div>
                                               {else if $photo_id}
<div class="top_video">
        <div class="padding10">
                <div class="row">
                    <div class="top_video_player span6">
                           <img src="{$video_info.photo_url}" style="max-width:455px; max-height:270px" />
                           
                           
                     <div class="video_pagin row">
                            <span id="{if $active eq(1)}1{else}{$active-1}{/if}" class="left_item pagin_item span1">Newer</span>
                             <span class="pagin_item span1" id="1"><span href="" style="border: none;" class="{if $active ==1}active_slider{/if} pagin_d">1</span></span>
                             {foreach from=$total item=p}
                                    <span href="#"  id="{$p.num}" class="pagin_item span1"><span class="{if $active ==$p.num}active_slider{/if} pagin_d">{$p.num}</span></span>
                             {/foreach}     
                             <span id="{if $active eq($tot)}1{else}{$active+1}{/if}" class="older pagin_item span1">Older</span>
                     </div>
                           
                           
                        </div>
                                <div class="video_desc_top span3">
                                        <div id="video_desc_text">
                                                <span class="video_title">{$video_info.name|smile|censor:"video":true|out_format}</span><br>
                                               {$video_info.description|out_format:"comment"|smile|censor:"video":true}
                                        </div>                                            
                                          <div class="soc_share">
                                                  Share profile: 
                                                  <a href=""><img src="/layout/img/google.png"></a>
                                                  <a href=""><img src="/layout/img/ttt.png"></a>
                                                  <a href=""><img src="/layout/img/twitter_share.png"></a>
                                                  <a href=""><img src="/layout/img/facebook_share.png"></a>
                                          </div>
                                            
                                </div>
                </div>
        </div>
</div>
                                            <div class="content_tab">
                                                <div class="line"></div>
                                            </div>
                                                {/if}
{/container}