@font-face {
    font-family: 'ProximaNova-Black';
    src: url('/font/ProximaNova-Black/proximanova-black.eot');
    src: url('/font/ProximaNova-Black/proximanova-black.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Black/proximanova-black.woff') format('woff'),
         url('/font/ProximaNova-Black/proximanova-black.ttf') format('truetype'),
         url('/font/ProximaNova-Black/proximanova-black.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/font/ProximaNova-Bold/proximanova-bold.eot');
    src: url('/font/ProximaNova-Bold/proximanova-bold.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Bold/proximanova-bold.woff') format('woff'),
         url('/font/ProximaNova-Bold/proximanova-bold.ttf') format('truetype'),
         url('/font/ProximaNova-Bold/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/font/ProximaNova-Light/proximanova-light.eot');
    src: url('/font/ProximaNova-Light/proximanova-light.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Light/proximanova-light.woff') format('woff'),
         url('/font/ProximaNova-Light/proximanova-light.ttf') format('truetype'),
         url('/font/ProximaNova-Light/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNova-RegItalic';
    src: url('/font/ProximaNova-RegItalic/proximanova-regitalic.eot');
    src: url('/font/ProximaNova-RegItalic/proximanova-regitalic.eot') format('embedded-opentype'),
         url('/font/ProximaNova-RegItalic/proximanova-regitalic.woff') format('woff'),
         url('/font/ProximaNova-RegItalic/proximanova-regitalic.ttf') format('truetype'),
         url('/font/ProximaNova-RegItalic/proximanova-regitalic.svg#ProximaNovaRegularItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/font/ProximaNova-Regular/proximanova-regular.eot');
    src: url('/font/ProximaNova-Regular/proximanova-regular.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Regular/proximanova-regular.woff') format('woff'),
         url('/font/ProximaNova-Regular/proximanova-regular.ttf') format('truetype'),
         url('/font/ProximaNova-Regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('/font/ProximaNova-Semibold/proximanova-semibold.eot');
    src: url('/font/ProximaNova-Semibold/proximanova-semibold.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Semibold/proximanova-semibold.woff') format('woff'),
         url('/font/ProximaNova-Semibold/proximanova-semibold.ttf') format('truetype'),
         url('/font/ProximaNova-Semibold/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNova-SemiboldItalic';
    src: url('/font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.eot');
    src: url('/font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.eot') format('embedded-opentype'),
         url('/font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.woff') format('woff'),
         url('/font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.ttf') format('truetype'),
         url('/font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/font/ProximaNova-Regular/proximanova-regular.eot');
    src: url('/font/ProximaNova-Regular/proximanova-regular.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Regular/proximanova-regular.woff') format('woff'),
         url('/font/ProximaNova-Regular/proximanova-regular.ttf') format('truetype'),
         url('/font/ProximaNova-Regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('/font/ProximaNova-Extrabold/proximanova-extrabold.eot');
    src: url('/font/ProximaNova-Extrabold/proximanova-extrabold.eot') format('embedded-opentype'),
         url('/font/ProximaNova-Extrabold/proximanova-extrabold.woff') format('woff'),
         url('/font/ProximaNova-Extrabold/proximanova-extrabold.ttf') format('truetype'),
         url('/font/ProximaNova-Extrabold/proximanova-extrabold.svg#ProximaNovaExtrabold') format('svg');
}

 input[type="text"], input[type="password"], textarea, select {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 transparent !important;
    border: solid 1px  #2DA5DA !important;
    border-image: none !important;
    border-radius: 0 0 0 0 !important;
    color: #30A5DA !important;
    font-size: 12px !important;
    box-shadow: none !important;
}
 input[type="text"], input[type="password"]{
    height: 17px !important;
}