{* component footer *}

</div>
				<!--правое меню-->
                     <div class="span3 rightmenu">
                         <a class="item_right" id="right1"  href="/latest_video.php">BROWSE FANTASYLAND</a>
                         <a class="item_right" id="right2"  href="/member/view_works.php">MY LIBRARY</a>
                         <a id="right3" class="item_right new_fantasy_form {if $is_authenticated} new_fantasy_form"  href="#"{else}" href="/member"{/if}>CREATE A FANTASY</a>
                        <a class="item_right" id="right4" href="/member/myfantasy.php">MY FANTASIES</a>
                        <a class="item_right" id="right5" href="/member/fantasy_list.php">BROWSE MARKETPLACE</a>
                        <a class="item_right" id="right6" href="/member/allus.php">BROWSE USERS</a>
                   </div>
				<!--//правое меню-->
			</div>
		</div>
                <div class="footer_page">
                    <div style="height: 30px;"></div>
                    <div class="row container">
                        <div class="center span9">
                                <div class="content_tab">
                                    <div class="row-fluid">
                                        <div class="title span3">
                                           NAVIGATION
                                        </div>
                                        <div class="title span3">
                                            HELP & SUPPORT
                                        </div>
                                        <div class="title span3">
                                            FOLLOW AS
                                        </div>
                                        <div class="title span3">
                                            KUINKEY.COM LOGO
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <ul>
                                                <li><a href="#">Browse Fantasyland</a></li>
                                                 <li><a href="#">My Library</a></li>
                                                 <li><a href="#">Create a Fantasy</a></li>
                                                 <li><a href="#">My Fantasies</a></li>
                                                 <li><a href="#">Browse Marketplace</a></li>
                                                 <li><a href="#">Browse Marketplace</a></li>
                                                 <li><a href="#">Browse Users</a></li>
                                            </ul>
                                        </div>
                                        <div class="span3">
                                           <ul>
                                                <li><a href="#">Feedback and Idess</a></li>
                                                 <li><a href="#">FAQ's</a></li>
                                                 <li><a href="#">Get Support</a></li>
                                                 <li><a href="#">DMCA/Copyright</a></li>
                                                 <li><a href="#">18 U.S.C. 2257 Record-Keeping</a></li>
                                                 <li><a href="#">Requirements Compliance Statement</a></li>
                                            </ul>
                                        </div>
                                        <div class="span3">
                                            <img src="/layout/img/face.png">
                                            <img src="/layout/img/tvit">
                                        </div>
                                        <div class="span3">
                                            <div style="height: 87px;"></div>
                                           Advertise on Kuinkey.com
                                           About Us | Contact Us | Terms | Privacy
                                        </div>
                                    </div>
                                    <div style="height: 20px;"></div>
                                    <div style="text-align: left;">Copyright © 2013 Kuinkey LLC. All videos © their respective own</div>
                                </div>
                        </div>
                    </div>
                </div>
                    
                    
<div id="form_new_fantasy" style="display: none;">
       {component Fantasy}
</div>