
{canvas}
{container stylesheet="notice.style"}



{component ProfileInfoLeft}

<div class="content_100">
                <div class="content span7">
                    <div class="content_text">

                           <!--чёрная верхняя линия-->
                        <div class="content_head row-fluid">
                                <div class="span5" style=" text-align: left;">
                                      <div id="envelope"></div>
    <span class="menu_text" style="font-size:13px;">NOTIFICATIONS</span>
                                </div>
                                <div class="span1">
   
                                </div>
                            <div class="span5">
   
                                </div>
                                <div style="clear:both;"></div>
                        </div>

                           <div class="content_tab" id="notice_list">

{if $list_notice}


            {foreach from=$list_notice item='notice'}
                <div>
                <div class="line"></div>
                {*if $notice}
                    Sent Today
                 <div class="line"></div>   
                 {if*}
                <div class="row-fluid">
                    <div class="list_notice notice_type_2 {*$notice.notice_type*} span1"></div>
                    <a href="/member/profile.php?profile_id={$notice.profile_id}" class="list_profile_name span2">{$notice.username}</a>
                    <div class="list_notice span5">
                        {if $notice.notice_type eq(1)}is now following you!{/if}
                        {if $notice.notice_type eq(2)}is now unfollowing you!{/if}
                        {if $notice.notice_type eq(3)}favorited your video!{/if}
                        {if $notice.notice_type eq(4)}{/if}
                        {if $notice.notice_type eq(5)}{/if}
                        {if $notice.notice_type eq(6)}{/if}
                        {if $notice.notice_type eq(7)}{/if}
                        {if $notice.notice_type eq(8)}{/if}
                        {if $notice.notice_type eq(9)}{/if}
                        {if $notice.notice_type eq(10)}{/if}
                        {if $notice.notice_type eq(11)}{/if}
                        {if $notice.notice_type eq(12)}{/if}
                        {if $notice.notice_type eq(13)}{/if}
                        {if $notice.notice_type eq(14)}purchased your video!{/if}
                        {$notice.notice_description}
                    </div>
                        <div class="grey"> {$notice.date_added|date_format}</div>
                        <div class="close" id="{$notice.notice_id}"></div>
                </div>
                </div>
             {/foreach}

{else}
    <div class="no_content">NO NOTIFICATIONS</div>
{/if}
<div class="line"></div>
</div>
</div>
</div>

<br clear="all" />
{paging total=$paging.total on_page=$paging.on_page pages=$paging.pages}
</div>



{literal}

{/literal}
{/container}
{/canvas}