{* Httpdoc Blog Workshop *}

{canvas}
	<div style="text-align:right;padding:4px 0;"><input type="button" value="{text %.blogs.menu_item_view_my_blog}" onclick="window.location='{$blog_url}'"></div>
    {component $cmp}
{/canvas}
