{container stylesheet="fantasy.style"}


    {form Fantasy}
<div class="row">
       <div class="pop_up_title span1" style="width: 145px;">CREATE FANTASY</div>
        <div class="span2">
               <div style="height: 20px;"></div>
        </div>
        <a id="up_fantasy_add_close"></a>
    </div>
    <div class="padding10">
        <div class="row popup_form">
            <div class="performer_list span1" style="margin-left: 0; width: 42px;">Title: </div>
            <div class="span3" >
                     <input type="text" name="title" class="input_create_fantasy" />
            </div>
        </div>
        <div class="fant_tag row popup_form" style="line-height: 27px;">
            <div class="performer_list span1" style="margin: 0; width: 54px;">Tags:</div>
            <div class="span3" style="width: 315px;"> <input type="text" id="demo-input-facebook-theme" name="tags" /></div>
            <div style="clear: both;"></div>
        </div>
         <div class="row popup_form">
                <div class="performer_list span1" style="margin-left: 0; width: 83px;">Category:</div>
                <div class="span3" >  {input name='category' labelsection='video_categories'}</div>
        </div>
        <div class="row popup_form">
            Description:
        </div>
        <div class="row popup_form">
            <textarea name="description" /></textarea>
        </div>
        <div style="height: 10px;"></div>
        <div>
              <div class="row popup_form">
                     <div class="performer_list span1"> Performer 1: </div> 
                     <div class="performer_list_tag span3" style="width: 285px;">
                            <input type="text"  name="perfomers[]" id="performer_tag" />
                            <img src="/layout/img/plus_b.png" class="performer_plus" />
                     </div>
              </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row popup_form" style="line-height: 27px;">
               <div style="margin-left: 0; width: 43px;" class="span1">Budget: </div> 
               <div class="span3">
                     <input type="text" id="budget"  name="budget" value="0" />
                     <span id="budget_negotiable" style="display: none; margin-left: 5px;">Negotiable</span>
               </div>
               
        </div>
        <div style="height: 10px;"></div>
        <div class="row popup_form">
            Negotiable: <input type="checkbox" name="buggest_null" id="buggest_null" />
        </div>
        <div style="height: 10px;"></div>
        <div class="row popup_form">
            Upload: {input name="file"}
        </div>
        <div style="height: 10px;"></div>
        <div class="row popup_form">
            Private Fantasy  (+ $20 Keys): <input type="checkbox"  name="fantasy_private" {if $private}checked="checked"{/if} />
        </div>
        <div style="height: 10px;"></div>
        <div class="row popup_form">
            <input type="submit"  value="Create" />
            <input type="button"  value="Canсel" id="canel_create" class="read_more" />
        </div>
    </div>



                {*
                 <tr>
                    <td><label for="tags" >Price video view:</label></td>
                    <td><input type="text" id="price_video" name="price_video" value="5" class="input_create_fantasy" /></td>
                </tr>
                <tr>
                    <td><label for="tags" >Lenght video (minimum 0.5 min):</label></td>
                    <td><input type="text" id="length_video" name="length_video" value="2" class="input_create_fantasy" />min</td>
                </tr>
                *}


                {*
                <tr>
                    <td class="td_label"><label for="data_fantasy_ex">Expiration Date</label></td>
                    <td><input type="text"  name="data_fantasy_ex" id="inputDate" /></td>
                </tr>
                {if $private}
                <tr>
                    <td class="td_label"><label for="completion_date">Completion Date</label></td>
                    <td><input type="text"  name="completion_date" id="completion_date" /></td>
                </tr>
                {/if
                *}
        
   {/form}
{/container}