@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('proximanova-black.eot');
    src: url('proximanova-black.eot') format('embedded-opentype'),
         url('proximanova-black.woff') format('woff'),
         url('proximanova-black.ttf') format('truetype'),
         url('proximanova-black.svg#ProximaNovaBlack') format('svg');
}
