
{canvas}
{container stylesheet="fantasy_list.style"}
<div class="content_100">
    
   <!--чёрная верхняя линия-->
                            <div class="content_head row-fluid">
                                    <div class="span2">

        <span class="menu_text" style="font-size:13px">MARKETPLACE</span>
                                    </div>
                                    <div class="span5">
<span class="menu_text" style="font-size:13px">
    WHERE YOU FIND ALL THE  FANTASIES
</span>
    </div>
                                    <div class="span4">

                                    </div>
                                
                                    <div style="clear:both;"></div>
                            </div>

                            <div class="content_profile_info">
                                    <div class="row">
        <div class="span5" style="text-align: left; margin-top: 10px; margin-bottom: 10px;">
            <span class="video_name">FILTER MARKETPLACE</span>
                <form method="GET" id="filter_list">
                <div class="input-append" style="margin-top: 7px;">
                    <form id="fantasy_list_search">
                                                                    <input id="search_fantasy" class="span2" size="16" type="text" name="tag">
                    </form>
                                                                    <span class="add-on"><img src="/static/img/searchi.png"></span>
                                                            </div>
                    {*<input type="submit" value="Search" />*}
           {*       <br>
              
        <select name="cat_id" onchange="$('#filter_list').submit();">
        {foreach from=$catArray item=option}
            <option value="{$option.id}">{$option.label}</option>
        {/foreach}
        </select>
        *}
    </form>
                                                            {component TopTag}
        </div>
        <div class="span4"></div>
    </div>								
                            </div>

<div class="content_text">
    <div class="content_menu">
            <div class="this_me">REQESTED FANTASIES</div>
    </div>   
    <div class="content_menu">
            <div class="order_list">
                Sort By: 
                <a {if $tabs eq(0) or $tabs eq(1)} class="active"{/if} href="?tabs=1" >Date Posted</a> |
                <a {if $tabs eq(2)} class="active"{/if} href="?tabs=2" >Price</a>
            </div>
    </div> 
    {*
  <div class="main_menu">
        <ul class="menu-tabs">
            <li class="tab first"><a {if $tabs eq(0)} class="active"{/if} href="?tabs=0" ><span>Preference</span></a></li>
            <li class="tab"><a {if $tabs eq(1)} class="active"{/if} href="?tabs=1" ><span>New</span></a></li>
            <li class="tab last"><a {if $tabs eq(2)} class="active"{/if} href="?tabs=2" ><span>Top price</span></a></li>
        </ul>
    </div>
*}
         
            
            
 <div class="content_text">           
            {foreach from=$list_fantasy item='fantasy'}
                <div class="content_tab">
                    <div class="line"></div>
                </div>
                
<div class="row">
        <div class="span4">
                <div class="row">
                        <div style="width:72px; margin-left: 0px;" class="span1">
                                {profile_thumb profile_id=$fantasy.id_creator redirect_params=$fantasy.url_params size=72}
                        </div>
                        <div style="margin-left: 15px; width: 200px;" class="span3">
                                <div class="list_profile_name">{$fantasy.username}</div>
                                <div class="list_profile_location">
                                        {if $fantasy.location.city}
                                            {$fantasy.location.city},
                                        {elseif !empty($fantasy.location.custom_location)}
                                             {$fantasy.location.custom_location},
                                        {/if}

                                        {if $fantasy.location.state}
                                            {$fantasy.location.state},
                                        {/if}

                                        {if $fantasy.location.country}
                                            {$fantasy.location.country}.
                                        {/if}
                                </div>
                                <div class="list_profile_old">{$fantasy.sex_label}, {$fantasy.old} yers old</div>
                                <div class="list_profile_follower">
                                    <div class="row">
                                        <div class="span1" style="width: 30px;">
                                            {component ProfileReferences profile_id=$fantasy.profile_id mode='follow'}
                                        </div>
                                         <div class="span2">
                                             <div class="row">
                                                <div style="border-right: solid 1px #2da5da" class="num span1">{$fantasy.video}</div>
                                                <div class="num span1">{$fantasy.follow}</div>
                                        </div>
                                        <div style="line-height: 10px;" class="row">
                                                <div style="border-right: solid 1px #2da5da" class="span1">videos</div>
                                                <div class="span1">followers</div>
                                        </div>
                                         </div>
                                    </div>   
                                </div>
                        </div>
                </div>
        </div>
        <div class="span6">
            <div class="fantasy_list">
                <span class="list_fantasy_title"> 
                    {*<a href="fantasy_view.php?edit={$fantasy.id_item}">{$fantasy.title|out_format|smile|censor:"video":true}</a>*}
                    {$fantasy.title|out_format|smile|censor:"video":true}
                </span>
                <span class="list_fantasy_price kuinkey_title">
                Budget:
                  {if $fantasy.budget eq '0'}
                        Negotiable
                    {else}
                          {$fantasy.budget}keys
                    {/if} 
                </span>
                    <span class="date_create">{$fantasy.date_create|date_format}</span>
                    <div style="clear:both"></div>
           </div>  
            
             <div class="description_fantasy">
                    <div class="description_fantasy_text" id="desc_{$fantasy.id_item}">
                    {$fantasy.description|out_format|smile|censor:"video":true}
                    </div>
                    <div id="show_{$fantasy.id_item}"><a href="#" onclick="Show('{$fantasy.id_item}'); return false;">View all</a></div>
                    <div  id="hide_{$fantasy.id_item}" style="display:none;"><a href="#" onclick="Hide('{$fantasy.id_item}'); return false;">Hide</a></div>
                    
                    
                     <div class="tag_lis">
                        <ul >
                                {foreach from=$fantasy.fantasy_tag item='tag'}

                                    <li class="item_tag"><a href="?tag={$tag.id_tag}">{$tag.tag}</a></li>

                                {/foreach}   
                                </ul>
                           <br clear="all">     
                       </div>
                    
             </div>
            
                     
              <div class="informer_fantasy">
                  
                  {*ViewMoreFantasy*}
                  <input class="read_more" type="button" value="Read More" onclick="ViewMoreFantasy({$fantasy.id_item})" />
                 {*<input class="read_more" type="button" value="Read More" onclick="document.location = 'fantasy_view.php?edit={$fantasy.id_item}'" style="float:right;" />
                 *}
                    {if $user}
                        {if $fantasy.my_fantasy}
                            {*<input type="button" value="Edit" onclick="document.location = 'fantasy.php?edit={$fantasy.id_item}'" style="float:right;  width: 102px !important;" />*}
                        {elseif !$fantasy.send}
                            {*<input type="button" value="Delete" onclick="SendDelete({$fantasy.id_item});" style="float:right;" id="button_{$fantasy.id_item}" />*}
                            {*
                             <div class="status">
                                {if $fantasy.status eq('0')}
                                    <span class="sent">Sent</span>
                                {elseif $fantasy.status eq('1')}
                                    <span class="accept">Accepted</span>
                                    {*<input type="button" value="Send fantasy" onclick="document.location = 'upload_fantasy.php?id_fantasy={$fantasy.id}'" />* }
                                {elseif $fantasy.status eq('-1')}
                                    <span class="declined">Declined</span>
                                {elseif $fantasy.status eq('2')}
                                    <span class="sent">Pending verification</span>
                                {/if}
                            </div>
                            *}
                        {else}
                            <input type="button" value="Invite to fantasies" onclick="SendRequest({$fantasy.id_item});"  id="button_{$fantasy.id_item}" />    
                        {/if}
                    {/if}
                   {*
                    <br clear="all">
                    <ul>
                        {foreach from=$fantasy.fantasy_file item='file' key='i'}
                            <li><a href="/$userfiles/upload_fantasy/{$file.name}" title="{$file.name}">file{$i+1}</a></li>
                        {/foreach}   
                    </ul>
                    *}
                </div>
                        {*
                       <div>
                            <ul>
                            {foreach from=$fantasy.performer item='performer'  key='k'}
                                <li class="item_performer">
                                    Performer {$k+1}:
                                    <ul class="item_ul">
                                    {foreach from=$performer.list_tag item='tags'}
                                       
                                        <li class="item_tag"><p>{$tags.tag}</p></li>
                                       
                                    {/foreach}   
                                    </ul>
                                </li>
                            {/foreach}
                            </ul>
                        </div>     
                          *} 
        </div>
</div>
                
                

             {/foreach}
</div>


<br clear="all" />
{paging total=$paging.total on_page=$paging.on_page pages=$paging.pages}



</div>
</div>

<div id="form_create_contract" style="display: none">
         {form CreateContract}
        <div class="padding10">
                    <input type="hidden" name="fantasy_id" id="fantasy_id"/>
                    <input type="hidden" name="worck_id" id="worck_id" /> 
                     <input type="hidden" name="lenght_video" id="lenght_video" /> 
                    
                    <div class="popup_form">
		Budget: <input type="text" name="budget" id="budget_contract"  style="width:47px; margin-left:5px;">
                                            <br>
                                            <span class="budget_popup inf">Kuinkey receives 20%</span>
                     </div>
                     <div class="popup_form">
                                    Completion date: <input type="text" id="datapicker" name="completion_date"  style="background: url('/layout/img/strelka.png') no-repeat scroll 71px 10px transparent; margin-left:5px; width:70px;" >
                     </div>
                     <div class="line"></div>
                     
                     <div class="popup_form">
                            <div class="row">
                                    <div style="line-height:30px; width: 120px;height: 30px;" class="span2">
                                            Public viewing price:
                                    </div>
                                    <div style="width: 120px;height: 30px;" class="span2">
                                            <input type="text" name="price_video" id="price_video" style="width:70px; margin-bottom: 10px;" />
                                    </div>
                            </div>
                            <div style="margin-bottom: 30px;" class="row">
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="performer_r" ><br>
                                            <span class="inf">Performer receives (50%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="user_r"><br>
                                            <span class="inf">Users receives (20%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="kuinkey_r" ><br>
                                            <span class="inf">Kuinkey receives (20%)</span>
                                    </div>
                            </div>
                    </div>
                    <div class="popup_form">
                        <div class="left_cols_form">Messag to Creator</div>
                        <div class="right_cols_form"><textarea name="messag" style="max-width: 360px"></textarea></div>
                        <br clear="all" />
                    </div> 
                    <div class="popup_form">
                        <input type="submit" value="Continue" style="margin-right: 5px;" />   <input type="button" class="read_more"  value="Cancel" onclick="cl_p()" />
                        <br clear="all" />
                    </div>               
           </div> 
      {/form}
</div>

{literal}
    <script>
    function cl_p(){
        $('.close_btn').click();
    }
    </script>
{/literal}
{/container}
{/canvas}