{canvas}
{container stylesheet="my_fantasy_list.style"}
{component ProfileInfoLeft}

<div class="content_100">

                        {component ProfileInfoHeader}
                         
        <div class="content span7">	
               <div class="content_text">
            <!--Меню пользователя-->
                                 <div class="content_menu">
                                    <div class="content_menu_item {if $tabs eq(55)}activ_menu{/if}"><a href="/member/newsfeed.php">NEWS</a></div>
                                    <div class="content_menu_item  {if $tabs eq(1)}activ_menu{/if}"><a href="/member/myfantasy.php">MY FANTASIES</a></div>
                                    <div class="content_menu_item {if $tabs eq(0)} activ_menu{/if}"><a href="/member/view_works.php">MY LIBRARY</a></div>
                                    <div class="content_menu_item {if $tabs eq(77)} activ_menu{/if}"><a href="/member/sent_applications.php">MY JOBS</a></div>
                                    <div class="content_menu_item {if $tabs eq(44)}activ_menu{/if}"><a href="/member/view_review.php?mode=my">MY REVIEWS</a></div>
                                    <div class="content_menu_item {if $tabs eq(3)} activ_menu{/if}"><a href="/member/following.php?tabs=3">FOLLOWING</a></div>
                                    <div class="content_menu_item {if $tabs eq(22)} activ_menu{/if}"><a href="/member/bookmarks.php?tabs=22">FOLLOWERS</a></div>
                                    <div class="content_menu_item" style="float: right; background-color: #412756; margin-right: 10px;"><a href="/member/edit_profile.php">MY ACCOUNT</a></div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="content_menu">
                                    <div class="content_menu_item" style="max-width: 140px;"><a href="">MY COMPLETED FANTASIES</a></div>
                                    <div class="content_menu_item"><a href="">MY PERFOMANCES</a></div>
                                    <div class="content_menu_item"><a href="">MY FAVORITES</a></div>
                                </div>
                                <div class="content_tab">
                                    <div class="content_search">

                                        <input type="button" id="button_new_fantasy" value="CREATE A FANTASY"  />

                                        <div class="input-append">
                                            <input class="span2" id="searc_input" size="16" type="text" placeholder="search">
                                            <span class="add-on"><img src="/layout/themes/adult/img/searchi.png"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_tab" style="text-align: left;">
                                    <div class="count_p">{$paging.total} Fantasies</div>
                                </div>
                                <div class="content_tab">
                            
    
      {foreach from=$list_fantasy item='fantasy'}
          <div class="line"></div>
          <div>
           <div class="fantasy_list">
                <span class="list_fantasy_title">  
                    {*<a href="fantasy_view.php?edit={$fantasy.id_item}">{$fantasy.title|out_format|smile|censor:"video":true}</a>*}
                   {$fantasy.title|out_format|smile|censor:"video":true}
                </span>
                <span class="list_fantasy_price">
                Budget:
                                            {if $fantasy.budget eq '0'}
                                Negotiable
                            {else}
                                  {$fantasy.budget}$
                            {/if}
                     
                </span>
                  
                    <div style="clear:both"></div>
           </div>
            <div>
                    <div id="desc_{$fantasy.id_item}" class="description_fantasy_text">
                     {$fantasy.description|out_format|smile|censor:"video":true}
                    </div>
                    <div id="show_{$fantasy.id_item}"><a onclick="Show('{$fantasy.id_item}'); return false;" href="#">View all</a></div>
                    <div style="display:none;" id="hide_1"><a onclick="Hide('{$fantasy.id_item}'); return false;" href="#">Hide</a></div>
             </div>
          </div>
             {/foreach}

    

        <div style="clear:both;"></div>
        <div class="pagin_footer">
                </div >
               
      
 
{***********************************************}


  

<script>
    {literal}
        
        function PopUpNewFantasy(){

                                                    var $title = "CREATE A FANTASY";
                                                    var $contents = $('#form_new_fantasy').html();
                                                    var $ok_btn ='';

                                                    var $cancel_btn ='';

                                                    var fl_box = new SK_FloatBox({
                                                        $title: $title,
                                                        $contents: $contents,
                                                        $controls: jQuery($ok_btn)
                                                        .add('<span>&nbsp;</span>')
                                                        .add($cancel_btn)
                                                    });
        
        }
    {/literal}
        
</script>



<br clear="all" />
{paging total=$paging.total on_page=$paging.on_page pages=$paging.pages}
                         
                                                  
                        </div>
               </div>
        </div>
</div>


{/container}
{/canvas}