{canvas}
{container stylesheet="fantasy_list.style"}

               <div class="content_text">
                      <div style="height: 20px;"></div>
                                <div class="content_tab" style="text-align: left;">
                                    <div class="count_p">{$paging.total} Fantasies</div>
                                </div>
                                <div class="content_tab">
                            
    
      {foreach from=$list_fantasy item='fantasy'}
          <div class="line"></div>
          <div>
           <div class="fantasy_list">
                <span class="list_fantasy_title">  <a href="fantasy_view.php?edit={$fantasy.id_item}">{$fantasy.title|out_format|smile|censor:"video":true}</a></span>
                <span class="list_fantasy_price kuinkey_title">
                Budget:
                                            {if $fantasy.budget eq '0'}
                                Negotiable
                            {else}
                                  {$fantasy.budget}keys
                            {/if}
                     
                </span>
                  
                    <div style="clear:both"></div>
           </div>
            <div>
                    <div id="desc_{$fantasy.id_item}" class="description_fantasy_text">
                     {$fantasy.description|out_format|smile|censor:"video":true}
                    </div>
                    <div id="show_{$fantasy.id_item}"><a onclick="Show('{$fantasy.id_item}'); return false;" href="#">View all</a></div>
                    <div style="display:none;" id="hide_1"><a onclick="Hide('{$fantasy.id_item}'); return false;" href="#">Hide</a></div>
             </div>
             <div class="informer_fantasy">
                  
                  {*ViewMoreFantasy*}
                  <input class="read_more" type="button" value="Read More" onclick="ViewMoreFantasy({$fantasy.id_item})" />
                    {if $user}
                        {if $fantasy.my_fantasy}
                           {* <input type="button" value="Edit" onclick="document.location = 'fantasy.php?edit={$fantasy.id_item}'" style="float:right;  width: 102px !important;" />*}
                        {elseif !$fantasy.send}
                           {*  <div class="status">
                                {if $fantasy.status eq('0')}
                                    <span class="sent">Sent</span>
                                {elseif $fantasy.status eq('1')}
                                    <span class="accept">Accepted</span>
                                    {*<input type="button" value="Send fantasy" onclick="document.location = 'upload_fantasy.php?id_fantasy={$fantasy.id}'" />* }
                                {elseif $fantasy.status eq('-1')}
                                    <span class="declined">Declined</span>
                                {elseif $fantasy.status eq('2')}
                                    <span class="sent">Pending verification</span>
                                {/if}
                            </div>*}
                        {else}
                            <input type="button" value="Invite to fantasies" onclick="SendRequest({$fantasy.id_item});" id="button_{$fantasy.id_item}" />    
                        {/if}
                    {/if}
                    
                </div>
                    <div style="clear: both;"></div>
          </div>
             {/foreach}

    

        <div style="clear:both;"></div>
        <div class="pagin_footer">
                </div >
               
      
 
{***********************************************}


  

<script>
    {*literal}
        
        function PopUpNewFantasy(){

                                                    var $title = "CREATE A FANTASY";
                                                    var $contents = $('#form_new_fantasy').html();
                                                    var $ok_btn ='';

                                                    var $cancel_btn ='';

                                                    var fl_box = new SK_FloatBox({
                                                        $title: $title,
                                                        $contents: $contents,
                                                        $controls: jQuery($ok_btn)
                                                        .add('<span>&nbsp;</span>')
                                                        .add($cancel_btn)
                                                    });
        
        }
    {/literal*}
        
</script>



<br clear="all" />
{paging total=$paging.total on_page=$paging.on_page pages=$paging.pages}
                         
                                                  
                        </div>
               </div>


<div id="form_create_contract" style="display: none">
         {form CreateContract}
        <div class="padding10">
                    <input type="hidden" name="fantasy_id" id="fantasy_id"/>
                    <input type="hidden" name="worck_id" id="worck_id" /> 
                     <input type="hidden" name="lenght_video" id="lenght_video" /> 
                    
                    <div class="popup_form">
		Budget: <input type="text" name="budget" id="budget_contract"  style="width:47px; margin-left:5px;">
                                            <br>
                                            <span class="budget_popup inf">Kuinkey receives 20%</span>
                     </div>
                     <div class="popup_form">
                                    Completion date: <input type="text" id="datapicker" name="completion_date"  style="background: url('/layout/img/strelka.png') no-repeat scroll 71px 10px transparent; margin-left:5px; width:70px;" >
                     </div>
                     <div class="line"></div>
                     
                     <div class="popup_form">
                            <div class="row">
                                    <div style="line-height:30px; width: 120px;height: 30px;" class="span2">
                                            Public viewing price:
                                    </div>
                                    <div style="width: 120px;height: 30px;" class="span2">
                                            <input type="text" name="price_video" id="price_video" style="width:70px; margin-bottom: 10px;" />
                                    </div>
                            </div>
                            <div style="margin-bottom: 30px;" class="row">
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="performer_r" ><br>
                                            <span class="inf">Performer receives (50%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="user_r"><br>
                                            <span class="inf">Users receives (20%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="kuinkey_r" ><br>
                                            <span class="inf">Kuinkey receives (20%)</span>
                                    </div>
                            </div>
                    </div>
                    <div class="popup_form">
                        <div class="left_cols_form">Messag to Creator</div>
                        <div class="right_cols_form"><textarea name="messag" style="max-width: 360px"></textarea></div>
                        <br clear="all" />
                    </div> 
                    <div class="popup_form">
                        <input type="submit" value="Continue" style="margin-right: 5px;" />   <input type="button" class="read_more"  value="Cancel" onclick="cl_p()" />
                        <br clear="all" />
                    </div>               
           </div> 
      {/form}
</div>

{literal}
    <script>
    function cl_p(){
        $('.close_btn').click();
    }
    </script>
{/literal}
{/container}
{/canvas}