@font-face {
    font-family: 'ProximaNova-Black';
    src: url('font/ProximaNova-Black/proximanova-black.eot');
    src: url('font/ProximaNova-Black/proximanova-black.eot') format('embedded-opentype'),
         url('font/ProximaNova-Black/proximanova-black.woff') format('woff'),
         url('font/ProximaNova-Black/proximanova-black.ttf') format('truetype'),
         url('font/ProximaNova-Black/proximanova-black.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('font/ProximaNova-Bold/proximanova-bold.eot');
    src: url('font/ProximaNova-Bold/proximanova-bold.eot') format('embedded-opentype'),
         url('font/ProximaNova-Bold/proximanova-bold.woff') format('woff'),
         url('font/ProximaNova-Bold/proximanova-bold.ttf') format('truetype'),
         url('font/ProximaNova-Bold/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('font/ProximaNova-Light/proximanova-light.eot');
    src: url('font/ProximaNova-Light/proximanova-light.eot') format('embedded-opentype'),
         url('font/ProximaNova-Light/proximanova-light.woff') format('woff'),
         url('font/ProximaNova-Light/proximanova-light.ttf') format('truetype'),
         url('font/ProximaNova-Light/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNova-RegItalic';
    src: url('font/ProximaNova-RegItalic/proximanova-regitalic.eot');
    src: url('font/ProximaNova-RegItalic/proximanova-regitalic.eot') format('embedded-opentype'),
         url('font/ProximaNova-RegItalic/proximanova-regitalic.woff') format('woff'),
         url('font/ProximaNova-RegItalic/proximanova-regitalic.ttf') format('truetype'),
         url('font/ProximaNova-RegItalic/proximanova-regitalic.svg#ProximaNovaRegularItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('font/ProximaNova-Regular/proximanova-regular.eot');
    src: url('font/ProximaNova-Regular/proximanova-regular.eot') format('embedded-opentype'),
         url('font/ProximaNova-Regular/proximanova-regular.woff') format('woff'),
         url('font/ProximaNova-Regular/proximanova-regular.ttf') format('truetype'),
         url('font/ProximaNova-Regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('font/ProximaNova-Semibold/proximanova-semibold.eot');
    src: url('font/ProximaNova-Semibold/proximanova-semibold.eot') format('embedded-opentype'),
         url('font/ProximaNova-Semibold/proximanova-semibold.woff') format('woff'),
         url('font/ProximaNova-Semibold/proximanova-semibold.ttf') format('truetype'),
         url('font/ProximaNova-Semibold/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNova-SemiboldItalic';
    src: url('font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.eot');
    src: url('font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.eot') format('embedded-opentype'),
         url('font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.woff') format('woff'),
         url('font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.ttf') format('truetype'),
         url('font/ProximaNova-SemiboldItalic/proximanova-semibolditalic.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('font/ProximaNova-Regular/proximanova-regular.eot');
    src: url('font/ProximaNova-Regular/proximanova-regular.eot') format('embedded-opentype'),
         url('font/ProximaNova-Regular/proximanova-regular.woff') format('woff'),
         url('font/ProximaNova-Regular/proximanova-regular.ttf') format('truetype'),
         url('font/ProximaNova-Regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('font/ProximaNova-Extrabold/proximanova-extrabold.eot');
    src: url('font/ProximaNova-Extrabold/proximanova-extrabold.eot') format('embedded-opentype'),
         url('font/ProximaNova-Extrabold/proximanova-extrabold.woff') format('woff'),
         url('font/ProximaNova-Extrabold/proximanova-extrabold.ttf') format('truetype'),
         url('font/ProximaNova-Extrabold/proximanova-extrabold.svg#ProximaNovaExtrabold') format('svg');
}




body{
	background-image: url("../img/background.jpg");
	background-size: cover;
	color: #FFF;
	font-family: ProximaNovaRegular;
	 line-height: 15px;
}
a:hover{
	text-decoration: none;
}
/*bootstrap*/
.container{
	width:1045px;
}
.container .row{
	margin: 0;
}
.span2{
	margin: 0;
}
.span3{
	margin: 0;
}

/*menu*/
.rightmenu{
	float: right;
	width: 210px;
}
.menu_top{
	width: 190px;
	height: inherit;
	text-align: center;
	border-right: 1px solid #3399CC;
	line-height: 17px;
}
.menu_top a{
	font-family: ProximaNova-Semibold;
}
.mail_notice{
	background-image: url("../img/mail.png");
	margin-top: 15px;
	width: 30px;
	height: 30px;
	float: left;
	text-align: right;
	margin-right: 12px;
}
.message_notice{
	background-image: url("../img/message.png");
	margin-top: 15px;
	width: 30px;
	height: 30px;
	float: left;
	text-align: right;
	margin-right: 12px;
}
.key_notice{
	background-image: url("../img/key.png");
	margin-top: 15px;
	width: 30px;
	height: 30px;
	float: left;
	text-align: right;
}
.menu_text{
	color: #FFF;
	font-size: 15px;
	font-family: ProximaNova-Extrabold;
}
.menu_text a{
	color: #FFF;
	text-decoration: none;
	font-family: ProximaNova-Extrabold;
}
.menu_top .menu_text{
	margin-top: 20px;
	display: block;
}
.menu_top a{
	color: #02648f;
	font-size: 10px;
}
.social{
	text-align: right;
	border: medium none;
}
.item_right{
	height: 60px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;	
	cursor: pointer;
	line-height: 60px;
}

/*фон кнопок меню*/
#right1{
	background: url(../img/rm1.png) #2da5da;
}
#right2{
	background: url(../img/rm2.png)  #154070;
}
#right3{
	background: url(../img/rm3.png)  #3068a7;
}
#right4{
	background: url(../img/rm4.png)  #30a5da;
}
#right5{
	background: url(../img/rm5.png)  #5ec4e1;
}
#right6{
	background: url(../img/rm6.png)  #2da5da;
}
.content_menu{
	height: 30px;
	margin-left: 15px;
}
.content_menu_item{
	background-color: #30a5da;
	float: left;
	max-width: 100px;
	border-right: solid 1px #FFF;
    padding-left: 7px;
    padding-right: 7px;
    height: 27px;
    line-height: 25px;
    cursor: pointer;
}
.content_menu_item a{
	color: #FFF;
	text-decoration: none;
	font-size: 10px;
	font-family: ProximaNova-Bold;
}
.content_menu_item:hover{
	background: #262a2c;
	background-color: #262a2c !important;
}
#right1:hover{
	background-color: #262a2c !important;
	background-image: none;
}
#right2:hover{
	background-color: #262a2c !important;
	background-image: none;
}
#right3:hover{
	background-color: #262a2c !important;
	background-image: none;
}
#right4:hover{
	background-color: #262a2c !important;
	background-image: none;
}
#right5:hover{
	background-color: #262a2c !important;
	background-image: none;
}
#right6:hover{
	background-color: #262a2c !important;
	background-image: none;
}
/*other*/
.center{
	width:825px;
	margin: 0;
}

.head{
	background-color: #2da5da;
}
.head .row{
	height: 60px;
}
.head .row .center .row{
	margin-left: 10px;
}
.margin10{
	margin: 10px;
}
.padding10{
	padding: 10px;
}
/*content*/
.content{
	background-color: #FFF;
	width: 640px;
	margin-left: 10px;
}
.content_100{
	width: 815px;
	margin-left: 10px;
}
.content_text{
	background-color: #FFFFFF;
}
.content_profile_info{
	background-color: #FFFFFF;
	/*height: 310px;*/
	margin-bottom: 10px;
	font-family: ProximaNova-Regular;
}
.left_profil{
	width: 175px;
	background-color: #000000;
}
.content_head{
	background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    height: 40px;
    display:table;
}
.hm{
	float: left;
	max-width: 100px;
	border-right: solid 1px #FFF;
	margin: 10px 0 10px 0px;
    padding: 0 10px;
    line-height: 24px;
}
.top_video{
	
}
.content_search{
	height: 70px;
	margin-top: 10px;
}
.content_search .input-append{
	margin-top: 20px;
	margin-left: 15px;
}
.content_search .input-append input{
	width: 200px;
}

.content_tab{
	margin-right: 15px;
	margin-left: 15px;
}

.video_name{
	height: 20px;
	color: #30a5da;
	font-size: 12px;
	font-family: ProximaNova-Bold;
}
.video_video{
	height: 165px;
}
.video_like{
	height: 20px;
	background: url("../img/like.png");
	background-position: center;
	background-repeat: no-repeat;
}
.video_desc{
	min-height: 30px;
	color: #30a5da;
	font-size: 12px;
}
.pagin_footer{
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 30px;
	color: #FFF;
}
.pagin_footer .span1{
	margin: 0;
	padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    height: 21px;
    line-height: 21px;
    width: 15px;
    font-family: ProximaNova-Regular;
	font-size: 11px;
	padding: 3px 7px;
}
.pagin_footer .row{
	background: #2da5da; margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.pagin_footer a{
	color: #FFF;
	text-decoration: none;
}
.pagin_footer a:hover{
	color: #02648f;
	text-decoration: none;
}
.ava{
	margin: 10px;
}
.profile_info{
	margin: 8px;
	font-family: ProximaNovaRegular;
	font-size: 12px;
}
.profile_info a{
	color: #FFF;
	text-decoration: none;
	font-family: ProximaNova-Regular;
}
.profile_info a:hover{
	text-decoration: underline;
}
.profile_big_im{
	background: none repeat scroll 0 0 #000000;
    font-size: 12px;
    height: 26px;
    line-height: 27px;
    margin: 0 16px 0 0;
    opacity: 0.8;
    text-align: center;
    width: 274px;
}
.profile_big_desc{
	margin: 0;
	color: #2DA5DA;
}
.profile_button{
	height: 35px;
	line-height: 23px;
	background: url("../img/s.png") no-repeat 20px 5px;
	padding-left: 15px;
	padding-bottom: 0;
}
#profile_desc_text{
	min-height: 70px;
	color: #2da5da;
	font-size: 12px;
}
.profile_title{
	font-size: 15px;
}
#profile_tag{
	min-height: 70px;
	margin-top: 15px;
}
#profile_reit{
	min-height: 20%;
	line-height: 20px;
}
.round_count{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    height: 11px;
    width: 11px;
    margin-left: auto;
    margin-right: 0;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    font-family: ProximaNovaCond-Semibold;
}
.round_count span{
	display: block;
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
    color: #02648f;
    font-family: ProximaNovaCond-Semibold;
}
.tag_item{
	float: left;
	background: #F1F1F1;
	border: solid 1px #d9d4d4;
	border-radius: 5px;
	font-size: 11px;
    margin: 2px;
    padding: 1px 4px;
    color: slategrey;
}

.star{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background: url("../img/star.png");
	background-position: right bottom; /* Положение фона */
    background-repeat: no-repeat; 
}
.active{
	background-position: left; bottom; /* Положение фона */
} 
.star_small{
	display: block;
	width: 14px;
	height: 16px;
	float: left;
	background: url("../img/small-star.png");
	background-position: right bottom; /* Положение фона */
    background-repeat: no-repeat; 
}
.star_small .active{
	background-position: left; bottom; /* Положение фона */
} 
.foto_count{
	background: url("../img/foto_count.png");
	background-position:  0px 2px;
	background-repeat: no-repeat; 
	padding-left: 5px;
}
.glass_count{
	background: url("../img/glass.png");
	background-position:  0px 2px;
	background-repeat: no-repeat; 
	padding-left: 5px;
}
.plus_count{
	background: url("../img/plus_b.png");
	background-position: 0px 0px;
	background-repeat: no-repeat; 
	padding-left: 5px;
}
#profile_stat{
	text-align: center;
	font-size: 12px;
}
#profile_stat div{
	line-height: 20px;
	width: 45px;
}
#button_messag{
	background-color: #2da5da;
	background: url("../img/messag_white.png") #30A5DA;
	background-position: 7px 2px;
	background-repeat: no-repeat; 
	/*padding-bottom: 2px;*/
    padding-left: 42px;
	float: left;
	cursor: pointer;
	margin-right: 4px;
	font-family: ProximaNovaRegular;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
}
#button_follow{
	background: url("../img/plus_white.png") #30A5DA;
	background-position: 14px 5px;
	background-repeat: no-repeat; 
	/*padding-bottom: 2px;*/
    padding-left: 40px;
	float: left;
	cursor: pointer;
	margin-right: 4px;
	font-family: ProximaNovaRegular;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
}
#button_block{
	background: url("../img/block.png") #431d4d;
	background-position: 10px 5px;
	background-repeat: no-repeat; 
	/*padding-bottom: 2px;*/
    padding-left: 38px;
	float: left;
	cursor: pointer;
	margin-right: 4px;
	font-family: ProximaNovaRegular;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
}
#button_invite{
	background: url("../img/invite.png") #30A5DA;
	background-position: 16px 5px;
	background-repeat: no-repeat; 
	float: right;
	cursor: pointer;
	font-family: ProximaNovaRegular;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
	padding: 0px 20px 0px 42px;
}


#button_messag:hover{
	background-color: #262a2c;
}
#button_follow:hover{
	background-color: #262a2c;
}
#button_block:hover{
	background-color: #262a2c;
}
#button_invite:hover{
	background-color: #262a2c;
}

#button_messag a{
	font-family: ProximaNovaRegular;
	font-size: 12px;
}
#button_follow a{
	font-family: ProximaNovaRegular;
	font-size: 12px;
}
#button_block a{
	font-family: ProximaNovaRegular;
	font-size: 12px;
}
#button_invite a{
	font-family: ProximaNovaRegular;
	font-size: 12px;
}


.map_location{
	background: url("../img/map_location.png");
	width: 10px;
	height: 13px;
	margin-right: 5px;
	float: left;
}
.profile_title{
	font-family: ProximaNova-Bold;
	font-size: 17px;
}
.profile_title2{
	font-family: ProximaNova-Bold;
	font-size: 13px;
}
#prof_reit{
	height: 15px;
	width: 80px;
	float: right;
	margin-top: 3px;
	background: url("../img/star_line.png");
}
.profile_r{
	font-family: ProximaNova-Bold;
	display:block;
	float:left;
	font-size: 12px;
	line-height: 24px;
}
#cam, #smile, #glass{
	width: 20%;
	float: left;
	background: url("../img/cam.png");
	background-position: 0px 1px;
	background-repeat: no-repeat; 
	height: 15px;
	padding-left: 20px;
}
#smile{
	background: url("../img/white_smile.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#glass{
	background: url("../img/vi.png");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}
.padding2{
	padding: 2px;
}
.up_media{
	background-color: #30a5da;
}
.content_head .span6{
	margin:0;
	width: 50%;
	height: 40px;
}
#upd_status{
	background: url("../img/upd_status.png");
	background-position: 11px 11px;
	background-repeat: no-repeat;
	font-family: ProximaNova-Bold;
	line-height: 46px;
	height: 46px;
	padding-left: 40px;
    text-align: left;
    font-size: 13px;
}
#up_media{
	background: url("../img/add_media.png") #30a5da;
	background-position: 23px 7px;
	background-repeat: no-repeat;
	font-family: ProximaNova-Bold;
	line-height: 46px;
	height: 46px;
	padding-left: 73px;
    text-align: left;
    font-size: 13px;
    cursor: pointer;
}
.status{
	color: #000;
	min-height: 40px;
	font-family: ProximaNovaRegular;
}
.count_p{
	color: #3daadc;
	font-family: ProximaNovaRegular;
}
.line{
	background: #d8d8d7;
	height: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.video_tag{
	margin-top: 5px; 
	margin-bottom: 5px; 
	width: 200px;
}
.video_tag .tag_item{
	color: #7887ab;
	background: #e7e7e7;
	padding-left: 7px;
	padding-right: 7px;
}
.video_view{
	background: url("../img/glass.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.video_like{
	background: url("../img/likeb.png");
	background-position: 5px 3px;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.video_comment{
	background: url("../img/comment_blue.png");
	background-position: 5px 3px;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.online_us{
	background: url("../img/online.png");
	background-position: 0px 16px;
	background-repeat: no-repeat;
	float: right;
	width: 40px;
	padding-left: 10px;
	margin-right: 10px;
    line-height: 40px;
}
.this_me{
	float: left;
	background: #30a5da;
	font-size: 11px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: ProximaNova-Bold;
}
.video_pagin{
	background: #30a5da; 
	width: 446px;
}
.video_pagin .span1{
	height: 20px;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    width: 15px;
}
.soc_share{
	line-height: 40px;
	color: #2da5da;
	font-family: ProximaNova-Bold;
	padding-top: 20px;
	font-size: 11px;
}
.list_profile_name{
	color: #30A5DA;
    font-size: 12px;
    font-style: ProximaNova-Bold;
    font-weight: bold;
    margin-bottom: 10px;
}
.list_profile_location{
	color: #30A5DA;
    font-size: 11px;
    padding-left: 15px;
    background: url("../img/location_blue.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.list_profile_old{
	color: #30A5DA;
    font-size: 11px;
    margin-bottom: 5px;
}
.list_profile_follower{
	color: #30A5DA;
    font-size: 12px;
    padding-left: 25px;
    background: url("../img/plus_b.png");
	background-position: 0px 2px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.list_profile_follower .span1{
	font-style: ProximaNova-Regular;
	font-size: 9px;
	margin: 0;
	width: 45px;
	text-align: center;
}
.list_profile_follower .num{
	font-family: ProximaNova-Bold;
	font-size: 12px;
	text-align: center;
}
.list_profile_follower .row{
	margin-top: 5px;
	cursor: default;
}
.video_name .span2{
	width: 180px; border-right: 1px solid; margin-right: 5px;
}
.grey{
	color: #333333;
	font-family: ProximaNova-Regular;
}
#head_white{
	height: 60px;
	background-color: #FFF;
}
#head_white .row{
	float: right;
	color: #2790bf;
}
#desc_head{
	font-size: 10px;
	font-family: ProximaNova-Extrabold;
}
#title_head{
	font-size: 17px;
	font-family: ProximaNova-Regular;
}
/**pop up**/
#background_popup{
	position:absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:467%;/*!!!!!!!!!!!!!!!!*/
    z-index: 99;
	background: #191a29;
	opacity: 0.75;
	top: 0;
}
#dialog_open{
	width: 400px;
	height: 625px;
	background: #FFF;
	opacity: 1;
	top: 5%;
	left: 35%;
	position: absolute;
	z-index: 1000;
}
#dialog_open .line{
	margin-right: 20px;
	margin-left: 20px;
}
.close_pop{
	width: 24px;
	height: 28px;
	background: url("../img/close.png");
	background-position: 0px 6px;
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
}
#desc_prof_creator{
	height: 106px;
	background: #ededec;
	margin-top: 15px;
	border-top: solid 1px #BDBDBD;
	border-bottom: solid 1px #BDBDBD;
	line-height: 15px;
}
#desc_prof_creator .row{
	 margin-left: 10px;
}
#desc_prof_creator .span2{
	font-family: ProximaNova-Regular;
	float:right;
	font-size: 9px;
	margin-right: 18px;
	margin-top: 13px;
    text-align: right;
}
#desc_prof_creator .name{
	color: #2790bf;
	margin-top: 14px;
	margin-bottom: 14px;
	font-family: ProximaNova-Bold;
}
#desc_prof_creator .list_profile_location{
	background-position: 0px 0px;
}
.performer_invite_name{
	color: #2790bf;
    margin-bottom: 5px;
    margin-top: 1px;
    font-size: 12px;
    font-family: ProximaNova-Regular;
}
.popup_form{
	margin-left: 17px; 
	margin-top: 10px;
	color: #2da5da;
	line-height:0px;
	font-family: ProximaNova-Semibold;
	font-size: 12px;
}
.popup_form input[type="radio"]{
	margin-left: 5px;
    margin-top: -5px;
}
.popup_form input[type="text"],textarea{
	background-color: #FFFFFF;
    border: 1px solid #2da5da;
    border-radius: 0;
    height: 15px;
    margin-top: 5px;
    width: 70px;
    font-size: 12px;
}
.popup_form textarea{
	background-color: #FFFFFF;
    border: 1px solid #2da5da;
    border-radius: 0;
    margin-top: 5px;
    height: 75px;
    width: 345px;
    max-height: 75px;
    max-width: 345px;
}
.popup_form input[type="button"]{
	background: #2da5da;
	border: 1px solid #2da5da;
	color: #FFF;
	padding: 5px 10px;
	font-family: ProximaNova-Regular;
	font-size: 12px;
}
.popup_form input[type="button"]:hover{
	background: #212526;
}
.popup_form .inf{
	font-size: 9px;
	color: #494949;
}
.popup_form .row{
	margin-left: 1px;
}
#key_count{
	height: 30px;
    margin-top: 15px;
    width: 30px;
    float: left;
    color: #02648f;
    font-family: ProximaNova-Bold;
    font-size: 11px;
    line-height: 23px;
}
/*****************/
.p_bl{
	color: #02648f;
	font-size: 14px;
}
#searc_input{
	height: 17px;
	background-color: #FFFFFF;
    border: 1px solid #2da5da;
    border-right: none;
    border-radius: 0;
    width: 164px;
    color: #30a5da;
    font-size: 12px;
}
#searc_input:focus{
    color: #30a5da;
}
.add-on{
	height: 17px !important;
	border: 1px solid #2da5da !important;
	border-left: none !important;
    border-radius: 0 !important;
    background: none !important;
}
.video_rate{
	float:left;
	color:#63bbe1;
	font-family: ProximaNova-Semibold;
}
.pagin_item{
	cursor: pointer;
	line-height: 24px;
	font-size: 11px;
}
.pagin_item:hover{
	/*background: #000;*/
}
.head .container .row{
	background: #2DA5DA;
}
.pointer_coursor{
	cursor: pointer;
}
.video_rat{
	color: #63BBE1;
    float: left;
    line-height: 20px;
    font-size: 11px;
    font-family: ProximaNova-Semibold;
    margin-right: 10px;
}
.pagin_d{
	border-left: 1px solid #FFFFFF;
    height: 18px;
    margin-top: 1px;
    padding-left: 10px;
    color: #FFF;
}
.older{
	border-left: 1px solid #FFFFFF;
    margin-left: 17px !important;
    padding-left: 21px !important;
    text-align: center;
}
.height31{
	height: 31px;
	line-height: 31px;
	padding-left: 12px;
    padding-right: 12px;
}
.list_profile_follower .row{
	margin-top: 0;
}
#request_access{
	background: url("../img/smile_o.png") no-repeat scroll 7px 6px #30A5DA;
    border: medium none;
    color: #FFFFFF;
    font-family: ProximaNovaRegular;
    font-size: 12px;
    height: 26px;
    padding-left: 26px;
    width: 116px;
}
#request_access:hover{
	background-color: #212526;
}