{canvas index}
{container stylesheet="offer_details.style"}

     {*       <table  id="performer_list">
                <tr>
                    <td>
                       <h2>{$title}</h2>
                    </td>
                </tr>
                <tr>
                    <td> 
                       <div class="tag_lis">
                            <ul >
                                    {foreach from=$fantasy_tag item='tag'}
                                       
                                        <li class="item_tag"><p>{$tag.tag}</p></li>
                                       
                                    {/foreach}   
                                    </ul>
                                    
                                {if $user}
                                {if $my_fantasy}
                                    <input type="button" value="Edit" onclick="document.location = 'fantasy.php?edit={$id}'" style="float:right;" />
                                {/if}
                            {/if}
                                    
                               <br clear="all">     
                        </div>
                    </td>
                </tr>
                 <tr>
                     <td >{$description}</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <ul>
                            {foreach from=$performers item='performer'  key='k'}
                                <li class="item_performer">
                                    Performer {$k+1}:
                                    <ul class="item_ul">
                                    {foreach from=$performer.list_tag item='tags'}                       
                                        <li class="item_tag"><p>{$tags.tag}</p></li>
                                    {/foreach}   
                                    </ul>
                                </li>
                            {/foreach}
                            </ul>
                        </div>
                     </td>
                </tr>
                <tr>
                    <td>Creator:</td>
                    <td><a href="/member/profile.php?profile_id={$creator_info.profile_id}">{$creator_info.username}</a></td>
                </tr>
                <tr>
                    <td>
                    {if $budget eq '0'}
                                Negotiable
                            {else}
                                  {$budget}$
                            {/if}
                     </td>
                </tr>
                <tr>
                     <td>
                         <ul>
                             {foreach from=$files item='file' key='i'}
                                 <li>
                                     <a href="/$userfiles/upload_fantasy/{$file.name}" title="{$file.name}">
                                         file{$i+1}
                                     </a> 
                                 </li>
                             {/foreach}
                        </ul>
                     </td>
                </tr>
                <tr>
                    <td>
                         Expiration Date: {$data_ex}
                    </td>
                </tr>
            </table>*}

                    
        {form CreateContract}{/form}
        <form id="create_contract">
        <div class="padding10">
                    <input type="hidden" name="fantasy_id" value="{$fantasy_id}"/>
                    <input type="hidden" name="worck_id" value="{$worck_id}" /> 
                    
                    <div class="popup_form">
		Budget: <input type="text" name="budget" id="budget"  style="width:47px; margin-left:5px;"  value="{$budget}" >
                                            <br>
                                            <span style="margin-left:41px;" class="inf">Kuinkey receives 20%</span>
                     </div>
                     <div class="popup_form">
                                    Completion date: <input type="text" id="datapicker" name="completion_date"  style="background: url('/layout/img/strelka.png') no-repeat scroll 71px 10px transparent; margin-left:5px; width:70px;" >
                     </div>
                     <div class="line"></div>
                     
                     <div class="popup_form">
                            <div class="row">
                                    <div style="line-height:30px; width: 120px;height: 30px;" class="span2">
                                            Public viewing price:
                                    </div>
                                    <div style="width: 120px;height: 30px;" class="span2">
                                            <input type="text" name="price_video" id="price_video" style="width:70px; margin-bottom: 10px;" value="{$price_video}">
                                    </div>
                            </div>
                            <div style="margin-bottom: 30px;" class="row">
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="performer_r" ><br>
                                            <span class="inf">Performer receives (50%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="user_r"><br>
                                            <span class="inf">Users receives (20%)</span>
                                    </div>
                                    <div style="width: 120px" class="span2">
                                        <input type="text" value="500keys" style="width:70px;" id="kuinkey_r" ><br>
                                            <span class="inf">Kuinkey receives (20%)</span>
                                    </div>
                            </div>
                    </div>
                  
                 {*
                 <div class="popup_form">
                        Lenght video: <input type="text" value="{$length_video}" name="lenght_video" id="lenght_video"  style="width:47px; margin-left:5px;"  />
                        <br>
                        <span style="margin-left:41px;" class="inf">Kuinkey receives 20%</span>
                 </div>
                  *}      
                        {*
                    <div class="rows_form">
                        <div class="left_cols_form">Kuinkey.com fee:</div>
                        <div class="right_cols_form">{$kuinkey_fee}</div>
                        <br clear="all" />
                        <div class="left_cols_form">Paid to Performer:</div>
                        <div class="right_cols_form">{$paid_to_performer}</div>
                        <br clear="all" />
                    </div>
                        *}
                    <div class="popup_form">
                        <div class="left_cols_form">Messag to Creator</div>
                        <div class="right_cols_form"><textarea name="messag" style="max-width: 360px"></textarea></div>
                        <br clear="all" />
                    </div> 
                    <div class="popup_form">
                        <input type="submit" value="Continue" style="margin-right: 5px;" />   <input type="button" class="read_more" onclick="f" value="Cancel" />
                        <br clear="all" />
                    </div>               
           </div> 
                        </form>
{/container}
{/canvas}