
{container}


{if $video}
        <table class="thumb_text_list">
            <tr>
        {foreach from=$video item='video_item'}
               
                        <td class="thumb">
                        <a href="{$video_item.video_page}">
                                {if $video_item.thumb_img eq 'default'}
                                        <div class="video_def_thumb"></div>
                                {elseif $video_item.thumb_img eq 'friends_only'}
                                        <div class="video_friends_thumb"></div>
                            {elseif $video_item.thumb_img == 'password_protected'}
                                <div class="video_password_thumb"></div>	
                                {else}
                                        <img id="default_{$video_item.hash}" src="{$video_item.thumb_img}" class="video_thumb" align="left" />
                                {/if}
                        </a>
                              {*  <a href="{$video_item.video_page}">{$video_item.title|out_format|smile|censor:"video":true}</a>
                                <p class="small">{$video_item.upload_stamp|spec_date}<br />
                                views <span class="highlight">{$video_item.view_count}</span><br />
                                {rate rate=$video_item.rate_score feature='video'}
                                </p>*}
                        </td>
               
        {/foreach} 
        </tr>
        </table>
{else}
        <div class="no_content">no video</div>
{/if}
	
	
{/container}
