{* Admin Footer Include Template *}

	<!-- /PAGE CONTENT -->
<b>Version: {$smarty.const.PACKAGE_VERSION}</b>
					</div>
            	</td>
				<td class="center_side"></td>
				</tr>
				<tr>
				<td class="corner_left_bottom"></td>
				<td class="bottom_side"></td>
                <td class="corner_right_bottom"></td>
				</tr>
				
				</table>

		</td>
	</tr>
</table>

</body>
</html>