{*Component Profile Edit*}

{canvas}
	{container stylesheet="block_user.style" }
{component ProfileInfoLeft}

<div class="content_100">

                        {component ProfileInfoHeader}
                         
        <div class="content span7">	
               <div class="content_text">
            <!--Меню пользователя-->
                                 <div class="content_menu">
                                    <div class="content_menu_item {if $tabs eq(55)}activ_menu{/if}"><a href="/member/newsfeed.php">NEWS</a></div>
                                    <div class="content_menu_item  {if $tabs eq(1)}activ_menu{/if}"><a href="/member/myfantasy.php">MY FANTASIES</a></div>
                                    <div class="content_menu_item {if $tabs eq(11)} activ_menu{/if}"><a href="/member/view_works.php">MY LIBRARY</a></div>
                                    <div class="content_menu_item {if $tabs eq(77)} activ_menu{/if}"><a href="/member/sent_applications.php">MY JOBS</a></div>
                                    <div class="content_menu_item {if $tabs eq(44)}activ_menu{/if}"><a href="/member/view_review.php?mode=my">MY REVIEWS</a></div>
                                    <div class="content_menu_item {if $tabs eq(3)} activ_menu{/if}"><a href="/member/following.php?tabs=3">FOLLOWING</a></div>
                                    <div class="content_menu_item {if $tabs eq(22)} activ_menu{/if}"><a href="/member/bookmarks.php?tabs=22">FOLLOWERS</a></div>
                                    <div class="content_menu_item activ_menu" style="float: right; background-color: #412756; margin-right: 10px;"><a href="/member/edit_profile.php">MY ACCOUNT</a></div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="content_menu">
                                    <div class="content_menu_item"><a href="/member/edit_profile.php">SETTINGS</a></div>
                                    <div class="content_menu_item"><a href="/member/points_purchase.php">MANAGE KEYS</a></div>
                                    <div class="content_menu_item"><a href="/member/block_list.php">BLOCK LIST</a></div>
                                    <div class="content_menu_item"><a href="/member/payment_selection.php">KUINKEY+</a></div>
                                </div>
                                
                                <div class="content_tab" style="width:500px;">                      
                                    <div class="count_p">{$paging.total} Blocked user</div>
                                    <div class="grey">Once you block someone, that person can no longer follow you or</div>
                                    <div class="form_block_user">
                                        Block users: 
                                        <input type="text" id="search_user" />
                                        <input type="hidden" id="search_user_value" />
                                        <input type="submit" id="add_block" class="read_more" value="Block" />
                                    </div>
                                    
                                    {counter start=1 skip=1 print=false assign='counter'}
                   <div id="list_users_block">
		{foreach from=$list item=item}
                    <div>
		<div class="line"></div>

                <div class="row" style=" margin: 0 0 -10px;">
                                        <div style="margin-left: 0px;" class="block_list span1"> 

                                        </div>
                                        <div style="margin-left: 15px; width: 200px;" class="span3">
                                                <div class="list_profile_name">{$item.profile_label}</div>

                                        </div>
                                                <div id="{$item.profile_id}" class="close"></div>
                                </div>
                       

		{counter}
			{if ($counter-1) == $ads_pos}
				{capture name=ads}{strip}
					{ads pos='profile_list'}
				{/strip}{/capture}
				{if $smarty.capture.ads}
					<br clear="all" />
					{block title=%.profile.list.ads_label}
						{$smarty.capture.ads}
					{/block}
				{/if}
			{/if}
                        </div>
		{/foreach}
                </div>
		<br clear="all" />
		<br clear="all" />
		{if $enable_pagging}
			{paging total=$paging.total on_page=$paging.on_page pages=$paging.pages exclude="new_search"}
		{/if}
                
                <div class="line"></div>
                <div class="form_block_user">To save these settings, please enter your kuinkey password</div>
                 <div class="form_block_user">
                     {form SaveBlockList}
                     <input type="hidden" name="array_block_add" id="array_block_add" value="0" />
                     <input type="hidden" name="array_block_delete" id="array_block_delete" value="0" />
                     Password:   <input type="password" name="pass" id="pass" />
                 </div>
                 <div class="form_block_user">
                     <input type="submit" value="save changes" /> <input type="button" value="Cancel" class="read_more" onclick="document.location.reload();" />
                 </div>
                     {/form}
                <div style="height: 40px;"></div>
             </div>
                                    
                                    
                                    
                                    
             </div>
       </div>
</div>

        

     {literal}   
     {/literal}
        
	{/container}
{/canvas}