{* Component Profile List *}

{canvas}

	{container stylesheet="kuinkey_news_feed.style" }

 {component ProfileInfoLeft}

<div class="content_100">

                        {component ProfileInfoHeader}
        
                <div class="content span7">
                      <div class="content_text">
            <!--Меню пользователя-->
                                 <div class="content_menu">
                                    <div class="content_menu_item {if $tabs eq(55)}activ_menu{/if}"><a href="/member/newsfeed.php">NEWS</a></div>
                                    <div class="content_menu_item  {if $tabs eq(1)}activ_menu{/if}"><a href="/member/myfantasy.php">MY FANTASIES</a></div>
                                    <div class="content_menu_item {if $tabs eq(0)} activ_menu{/if}"><a href="/member/view_works.php">MY LIBRARY</a></div>
                                    <div class="content_menu_item {if $tabs eq(77)} activ_menu{/if}"><a href="/member/sent_applications.php">MY JOBS</a></div>
                                    <div class="content_menu_item {if $tabs eq(44)}activ_menu{/if}"><a href="/member/view_review.php?mode=my">MY REVIEWS</a></div>
                                    <div class="content_menu_item {if $tabs eq(3)} activ_menu{/if}"><a href="/member/following.php?tabs=3">FOLLOWING</a></div>
                                    <div class="content_menu_item {if $tabs eq(22)} activ_menu{/if}"><a href="/member/bookmarks.php?tabs=22">FOLLOWERS</a></div>
                                    <div class="content_menu_item" style="float: right; background-color: #412756; margin-right: 10px;"><a href="/member/edit_profile.php">MY ACCOUNT</a></div>
                                </div>

                                <div class="content_tab">
                            
	{component SiteNewsfeed class='component_SiteNewsfeed'  feedType='site' displayCount=5}
	
                                    
		<br clear="all" />
		
                
                     </div>
    </div>
                    </div> </div> 
                
	{/container}
	
{/canvas}
