{* Component Kuinkey News List *}

{canvas}

	{container stylesheet="kuinkey_news_feed.style" }

 {component ProfileInfoLeft}

<div class="content_100">

                        {component ProfileInfoHeader}
        
                <div class="content span7">
                      <div class="content_text">
            <!--Меню пользователя-->
                                <div class="content_menu">
                                    <div class="content_menu_item "><a href="">NEWS</a></div>
                                    <div class="content_menu_item  {if $tabs eq(1)}activ_menu{/if}"><a href="/member/myfantasy.php">MY FANTASIES</a></div>
                                    <div class="content_menu_item {if $tabs eq(0)} activ_menu{/if}"><a href="/member/view_works.php">MY LIBRARY</a></div>
                                    <div class="content_menu_item {if $tabs eq(5)} activ_menu{/if}"><a href="?tabs=5">MY JOBS</a></div>
                                    <div class="content_menu_item"><a href="/member/view_review.php?mode=my">MY REVIEWS</a></div>
                                    <div class="content_menu_item {if $tabs eq(3)} activ_menu{/if}"><a href="/member/following.php?tabs=3">FOLLOWING</a></div>
                                    <div class="content_menu_item {if $tabs eq(22)} activ_menu{/if}"><a href="/member/bookmarks.php?tabs=22">FOLLOWERS</a></div>
                                    <div class="content_menu_item" style="float: right; background-color: #412756; margin-right: 10px;"><a href="">MY ACCOUNT</a></div>
                                </div>

                        <div class="content_search">
                                    <div class="input-append">
                                        <input class="span2" id="searc_input" size="16" type="text" placeholder="search">
                                        <span class="add-on"><img src="/layout/themes/adult/img/searchi.png"></span>
                                    </div>
                                </div>
                                <div class="content_tab" style="text-align: left;">
                                    <div class="count_p">{$paging.total} Members</div>
                                </div>
                                <div class="content_tab">
                            
	
	
                                    
		<br clear="all" />
		
                
                     </div>
    </div>
                    </div> </div> 
                
	{/container}
	
{/canvas}
