{* component TopTag *}
	
    <div id="profile_tag">
        {foreach from=$list_tag item=tag}
            <div class="tag_item"><a href="?tag={$tag.id_tag}">{$tag.tag_name}</a></div>
        {/foreach}      
                <div style="clear:both;"></div>
    </div>

