
{container}

<input type="button" {id="pay_link"} value="{text %order}" />
<span style="display: none" {id="pay_by"}>{text %pay_by}</span>
<div {id="iframe_cont"} style="display: none;">
	<iframe {id="i_frame"} frameborder="0"></iframe>
</div>
{/container}