
{container stylesheet="video_upload.style" class="video_upload"}


{if $permission_message}
	<div class="block_info">{$permission_message}</div>
{else}

    <div class="row">
        <div class="pop_up_title span1">ADD MEDIA</div>
        <div class="span3" style="width: 197px;">
            <div style="height: 4px"></div>
            <div class="count_p" style="text-align: left; padding-left: 5px;">This is me Picture / Video</div> 
            <div class="grey" style="text-align: left; padding-left: 5px;">Upolad any media you want to be displayed in the  “This is me” </div>
        </div>
        <div class="span1" style="width: 15px;">
              <a id="up_media_close"></a>
        </div>
    </div>
    
    <div class="popup_body">
        <div class="count_p" style="text-align: left;">
            Upload a Picture / Video
        </div>
        <div class="grey" style="text-align: left;">You must own the copyright or have the necessary rights for any</div>
		{form ThisMe}
                
                <div class="popup_form">
                    {input name="profile_video"}
                </div>
                <div class="popup_form">
                   Media name: {input name='title'}
                </div>
                <div class="popup_form">
                    Media description: {input name='description'}
                </div>
                <div class="popup_form">
                        {button action='upload'}   <input type="button" value="Cancel" class="read_more">
                        <br clear="all">
                </div>
                        <div style="height: 30px;"></div>
                
			{*<table class="form">
				<tr><td class="label">{label for='title'}</td><td class="value all_row_width">{input name='title'}</td></tr>
				<tr><td class="label">{label for='description'}</td><td class="value">{input name='description'}</td></tr>
				<tr><td class="label">{label for='profile_video'}</td><td class="value">{input name="profile_video"}</td></tr>
                                <tr><td class="center"></td><td><input type="button" class="read_more" value="Cancel" /></td></tr>
			</table>	*}		
		{/form}
		</div>
	
{/if}	
{/container}