{* component ProfileInfoHeader *}
{container stylesheet="profile_info_header.style"}	
 <div style="margin-bottom: 10px;" class="content span7">
    <!--чёрная верхняя линия-->
    <div class="content_head row-fluid" style="text-align:left">
        <div id="upd_status" class="span6">UPDATE STATUS</div>
        <div id="up_media" class="span6 up_media">ADD MEDIA</div>
    </div>
    <div class="status">
        <div style="background: url(/layout/img/hr1.png) no-repeat scroll 9px -2px transparent;" class="padding10">
            <div style="height:41px; line-height: 41px;">
                <input type="text" name="profile_status" id="profile_status" value="{$us_status}" />
            </div>
        </div>
    </div>
</div>

            <div id="video_upload_form" style="display: none;">
    {component UploadThisMe}
</div>
{/container}	
