{* Admin Profile List Template *}

{include file='inc/_header.html'}

{block_page}

<div class="profile_list_result_nav">
    Results: {$db_results} |
    Total: {$total_results_num} |
    Results per page: {$rpp_select}
</div>

<div class="profile_list_page_nav">
    Pages: {$navigation_pages}
</div>

<div style="overflow-x:auto; width: 758px;">
    <table width="100%">
        <thead>
            <tr><th colspan="{$count_colum}">Credit Payments</th></tr>
            <tr>

                {foreach from=$checked_fields key='_f' item='_fl'}
                <td>{strip}<a href="{make_url}_sf={$_fl}&_so={if $sort_field eq $_fl}{if $sort_order eq 'asc'}desc{elseif $sort_order eq 'desc'}asc{else}asc{/if}{else}asc{/if}{/make_url}">
                        {/strip}{$_fl}</a>{if $sort_field eq $_fl} <img src="img/{if $sort_order eq 'asc'}arr_up{elseif $sort_order eq 'desc'}arr_down{/if}.gif" />{/if}</td>
                {/foreach}
                <td></td>
            </tr>
        </thead>

        <tbody>
            {foreach from=$fantasy key='id' item='line'}
            <tr class="{cycle values='tr_1,tr_2'}">
                <td width="100px">{$line.id}</td>
                {* <td  id="{$line.id}"><a href="fantasy_edit.php?edit={$line.id}">{$line.title}</a></td>*}
                <td  id="{$line.id}">{$line.username}</td>
                <td >{$line.amount}</td>
                <td >{$line.date_request|date_format}</td>
                 <td >{$line.status_operation}</td>
                 <td>
                     {if $line.status_operation == 'pending'}
                     <form action="" method="POST">
                         <input type="hidden" value="pay" name="action" />
                         <input type="hidden" value="{$line.id}" name="id" />
                        <input type="submit" value="Pay" />
                     </form>
                     {/if}
                 </td>
            </tr>
            {/foreach}            
        </tbody>
    </table>


</div>


{/block_page}
{include file='inc/_footer.html'}