{* Admin Profile List Template *}

{include file='inc/_header.html'}

{block_page}

<div class="profile_list_result_nav">
    Results: {$db_results} |
    Total: {$total_results_num} |
    Results per page: {$rpp_select}
</div>

<div class="profile_list_page_nav">
    Pages: {$navigation_pages}
</div>

<div style="overflow-x:auto; width: 758px;">
    <table width="100%">
        <thead>
            <tr><th colspan="{$count_colum}">Credit History</th></tr>
            <tr>

                {foreach from=$checked_fields key='_f' item='_fl'}
                <td>{strip}<a href="{make_url}_sf={$_fl}&_so={if $sort_field eq $_fl}{if $sort_order eq 'asc'}desc{elseif $sort_order eq 'desc'}asc{else}asc{/if}{else}asc{/if}{/make_url}">
                        {/strip}{$_fl}</a>{if $sort_field eq $_fl} <img src="img/{if $sort_order eq 'asc'}arr_up{elseif $sort_order eq 'desc'}arr_down{/if}.gif" />{/if}</td>
                {/foreach}
            </tr>
        </thead>

        <tbody>
            {foreach from=$fantasy key='id' item='line'}
            <tr class="{cycle values='tr_1,tr_2'}">
                <td width="100px">{$line.log_id}</td>
                {* <td  id="{$line.log_id}"><a href="fantasy_edit.php?edit={$line.id}">{$line.title}</a></td>*}
                <td  id="{$line.log_id}">{$line.username}</td>
                <td >{$line.amount}</td>
                <td >{$line.log_timestamp|date_format}</td>
                <td >{$line.action}</td>
            </tr>
            {/foreach}            
        </tbody>
    </table>

</div>


{/block_page}
{include file='inc/_footer.html'}