{* Admin Profile List Template *}

{include file='inc/_header.html'}

{block_page}

<div style="overflow-x:auto; width: 758px;">
    <table width="100%">
        <tbody>
           
            <tr class="tr_1">
                <td width="100px">Title</td>
                <td  id="title"><input type="text"></td>
            </tr>
            <tr class="tr_2">
                <td width="100px">Description</td>
                <td  id="description"><textarea></textarea></td>
            </tr>
                   
        </tbody>
    </table>


</div>


{/block_page}
{include file='inc/_footer.html'}