{* Admin Profile List Template *}

{include file='inc/_header.html'}

{block_page}

<div class="profile_list_result_nav">
    
</div>

<div class="profile_list_page_nav">

</div>
<!--
<div style="overflow-x:auto; width: 758px;">
    <form method="POST">
    <table width="100%">
        <thead>
            <tr><th colspan="2">Finance Settings</th></tr>
        </thead>
        <tbody>
       
            <tr>
                <td>Kuinkey fee</td>
                <td><input type="text" name="fee" value="" /></td>
            </tr>
             <tr>
                <td>Buy video</td>
                <td><input type="text" name="buy_video" value="" /></td>
            </tr>
             <tr>
                <td>Private fantasy</td>
                <td><input type="text" name="private_fantasy" value="" /></td>
            </tr>
             <tr>
                <td></td>
                <td><input type="submit" name="" value="Save" /></td>
            </tr>
        
        </tbody>
    </table>
    </form>
</div>
-->

<div class="additional_settings">
	{foreach from=$sections item='section'}
		{print_configs section=$section}
	{/foreach}
	</div>


{/block_page}
{include file='inc/_footer.html'}