{include file='inc/_header.html'}
<br clear="all" />
<div style="float:left;width:70%;">
{block_page}
<table style="width:100%;">
          <tbody>
            <tr>
              <td> {print_configs section='newsfeed'} </td>
            </tr>
          </tbody>
        </table>
{/block_page}
</div>
<br clear="all" />

{include file='inc/_footer.html'}