{* Admin interface: affiliate *}
{include file='inc/_header.html'}

{block_page}
<table cellspacing="1" align="center" width="70%">
	<thead>
		<tr>
			<th colspan="2">Referral: <a href="{$smarty.const.URL_ADMIN}profile.php?profile_id={$referral_info.referral_id}">{$referral_info.username}</a></th>
		</tr>
	</thead>
	<tbody>
        <tr class="tr_2">
            <td width="40%">Total invites</td>
            <td>
                <div>{$referral_info.total_invites}</div>
            </td>
        </tr>
        <tr class="tr_1">
            <td>Total referrals</td>
            <td>
                <div><a href="{$smarty.const.URL_ADMIN}referral_list.php?referrer_id={$referral_info.referral_id}">{$referral_info.total_referrals}</a></div>
            </td>
        </tr>                       
        <tr class="tr_2">
            <td>Total purchaser referrals</td>
            <td>
                <div>{$referral_info.total_paid_referrals}</div>                
            </td>
        </tr>
    </tbody>
</table>

<br clear="all" />
<br clear="all" />

<form action="" method="POST">
<table cellspacing="1" align="center" width="70%">
    <tbody>
        <tr class="tr_2">
            <td width="40%">IM</td>
            <td>
                <input type="text" name="aff_info[im]" value="{$referral_info.im}" style="width: 250px;" />
            </td>
        </tr>
        <tr class="tr_1">
            <td>Phone</td>
            <td>
                <input type="text" name="aff_info[phone]" value="{$referral_info.phone}" style="width: 250px;" />
            </td>
        </tr>
        <tr class="tr_2">
            <td>Address</td>
            <td>
                <textarea name="aff_info[address]" style="width: 250px;">{$referral_info.address}</textarea>
            </td>
        </tr>
        <tr class="tr_1">
            <td>Payment details</td>
            <td>
                <textarea name="aff_info[payment_details]" style="width: 250px;">{$referral_info.payment_details}</textarea>
            </td>
        </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<input type="submit" value="save" />
			</td>
		</tr>
	</tfoot>
</table>
</form>

<br clear="all" />
<br clear="all" />

<table cellspacing="1" align="center" width="60%">
	<thead>
		<tr>
			<th colspan="3">Payout statistics</th>
		</tr>
		<tr>
			<td>Amount</td>
			<td>Date</td>
			<td>Date updated</td>
		</tr>
	</thead>
	<tbody>
	{foreach from=$referral_payments item=payment name=payment_count}
		<tr {if $smarty.foreach.payment_count.last}class="{cycle values=tr_1_cp,tr_2_cp}" {highlight} onclick="window.location.href='referral.php?referral_id={$referral_id}&payment_id={$payment.payment_id}'"{else}class="{cycle values=tr_1,tr_2}"{/if}>
			<td>{$payment.amount|string_format:"%.2f"}</td>
			<td>{$payment.time_stamp|date_format:"%b %e/%y %H:%M"}</td>
			<td>{if $payment.edited_time_stamp == 0}No{else}{$payment.edited_time_stamp|date_format:"%b %e/%y %H:%M"}{/if}</td>
		</tr>
	{/foreach}
	{if $smarty.foreach.payment_count.total < 1}
		<tr class="tr_1">
			<td colspan="3" align="center">No payouts made</td>
		</tr>
	{/if}
	</tbody>
</table>
<br clear="all" />
<br clear="all" />

<table  align="center" width="50%"><tbody><tr><td>
	<form action="{$smarty.const.URL_ADMIN}referral.php?referral_id={$referral_id}" method="post" onsubmit="return checkIsDecimal( 'pay_sum', 'Enter correct paid amount.' );">
	{if $payment_info.payment_id != ''}<input type="hidden" name="payment_id" value="{$payment_info.payment_id}" />{/if}
	{if $payment_info.payment_id != ''}<div style="float:right;"><a href="{$smarty.const.URL_ADMIN}referral.php?referral_id={$referral_id}">new</a></div><br />{/if}
	<table cellspacing="1" width="100%">
		<thead>
			<tr>
				<th colspan="2">{if $payment_info.payment_id != ''}Edit Payout{else}Register Payout{/if}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="tr_1">
				<td>Amount:</td>
				<td><input type="text" id="pay_sum" name="pay_sum"{if $payment_info.payment_id != ''} value="{$payment_info.amount}"{/if} /></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="Save" /></td>
			</tr>
		</tfoot>
	</table>
	</form>
</td></tr></tbody></table>
{/block_page}

{include file='inc/_footer.html'}
