{* Admin Profile List Template *}

{include file='inc/_header.html'}

{block_page}
<div class="pr_top_add_field">
    <a href="?action=create">Create Item</a>
</div>

{if $cerate_form}
<form action="/admin/tags.php" method="POST">
    <input type="text" name="tag" /><input type="submit" value="Create" />
    <input type="hidden" name="action" value="create" />
</form>
{/if}
<div class="profile_list_result_nav">
	Results: {$db_results} |
	Total: {$total_results_num} |
	Results per page: {$rpp_select}
</div>

<div class="profile_list_page_nav">
Pages: {$navigation_pages}
</div>

<div style="overflow-x:auto; width: 758px;">
    <table width="100%">
	<thead>
		<tr><th colspan="2">Tags List</th></tr>
		<tr>
			
			{foreach from=$checked_fields key='_f' item='_fl'}
			<td>{strip}<a href="{make_url}_sf={$_fl}&_so={if $sort_field eq $_fl}{if $sort_order eq 'asc'}desc{elseif $sort_order eq 'desc'}asc{else}asc{/if}{else}asc{/if}{/make_url}">
			{/strip}{$_fl}</a>{if $sort_field eq $_fl} <img src="img/{if $sort_order eq 'asc'}arr_up{elseif $sort_order eq 'desc'}arr_down{/if}.gif" />{/if}</td>
			{/foreach}
		</tr>
	</thead>

        <tbody>
            {foreach from=$tags key='id' item='tag'}
            <tr class="{cycle values='tr_1,tr_2'}">
                <td width="100px">{$tag.id}</td>
                <td  id="{$tag.id}"><a href="javascript:edit({$tag.id}, '{$tag.tag}')">{$tag.tag}</a></td>
            </tr>
            {/foreach}            
        </tbody>
    </table>
    {literal}
    <script>
        function edit(id, edit){
            var html = '<form action="" method="POST" style="float:left;">\
                            <input type="hidden" name="action" value="update" />\
                            <input type="hidden" name="id" value="'+id+'" />\
                            <input type="text" name="tag" value="'+edit+'" />\
                            <input type="submit" value="Save" />\
                            </form>\
                            <input style="float:right;" type="button" value="Canel" onclick="canel('+id+', \''+edit+'\')" />\
                            <form action="" method="POST" style="float:right;">\
                            <input type="hidden" name="action" value="delete" />\
                            <input type="hidden" name="id" value="'+id+'" />\
                            <input type="submit" value="Delete" />\
                            </form>';
            jQuery('#'+id).html(html);
        }
        
        function canel(id, text){
            var html = '<a href="javascript:edit('+id+', \''+text+'\')">'+text+'</a>';
            jQuery('#'+id).html(html);
        }
    </script>
     {/literal}
    
</div>


{/block_page}
{include file='inc/_footer.html'}