{* Admin interface: virtual gifts*}
{include file='inc/_header.html'}

{block_page}

<div style="width: 55%; float: left;">
<table align="left" width="100%">
	<thead>
		<tr>
			<th colspan="3">Categories</th>
		</tr>
	</thead>
	<tbody>
        {if !$categories}
            <tr>
                <td colspan="3" style="text-align: center;">No categories</td>
            </tr>
        {else}
		{foreach from=$categories item='c' name='cat'}
		<tr class="{cycle values='tr_1,tr_2'}">
			<td style="width: 30px">
                {if $smarty.foreach.cat.first}
                    <div class="arr_up_i" ></div>
                {else}
                    <a class="arr_up" href="?cat_id={$c.id}&move=up"></a>
                {/if}
                {if $smarty.foreach.cat.last}
                    <div class="arr_down_i" ></div>
                {else}
                    <a class="arr_down" href="?cat_id={$c.id}&move=down"></a>
                {/if}
			</td>
			<td id="cat_title-{$c.id}">{$c.title}</td>
            <td style="width: 48px;">
                <a class="edit" title="edit" onclick="editCategory({$c.id});" href="javascript://"></a>
                <a class="delete" title="delete" onclick="deleteCategory({$c.id});" href="javascript://"></a>
            </td>
		</tr>
		{/foreach}
		{/if}
	</tbody>
</table>
</div>

<div style="display: none" id="edit_container">
    <form name="edit_category_form" method="post">
        <input type="hidden" name="action" value="update" />
        <input type="hidden" name="cat_id" value="" />
        <input type="text" name="cat_title" />
        <input type="submit" value="Save" />
    </form>
</div>

<div style="float: right; width: 43%">
<form method="post">
<input type="hidden" name="action" value="add" />
<table width="100%">
	<thead>
		<tr>
			<th colspan="2"><span>Add Category</span></th>
		</tr>
	</thead>
	<tbody>
		<tr class="{cycle values='tr_1,tr_2'}">
			<td>
				<span><b>Title:</b></span>
			</td>
			<td>
			 <input type="text" name="category" style="width: 240px" />
			</td>
		</tr>
		</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<input type="submit" value="Add" name="command" />
			</td>
		</tr>
	</tfoot>
</table>
</form>
</div>

{/block_page}

{include file='inc/_footer.html'}
