{canvas}

<div class="content_100">

                            <!--чёрная верхняя линия-->
                          
{component ProfileStatusView profile_id=$actorId}

        <div class="content_text">
        <div class="content_menu">
                <div class="this_me">THIS IS ME</div>
        </div>
               <div id="slider_div" style="min-height: 100px">
                     {*component TopVideo profile_id=$actorId*}
                     {component ThisIsMeSlider profile_id=$actorId}
              </div>
        <div class="content_menu">
            <div class="content_menu_item {if $tabs eq(0)}activ_menu{/if}"><a href ="/member/profile.php?profile_id={$actorId}&tabs=0" >NEWS</a></div>
            <div class="content_menu_item {if $tabs eq(1)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=1" >FANTASIES</a></div>
            <div class="content_menu_item {if $tabs eq(5)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=5" >PERFOMANCES</a></div>
            <div class="content_menu_item {if $tabs eq(6)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=6">FAVORITES</a></div>
            <div class="content_menu_item {if $tabs eq(4)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=4">REVIEWS</a></div>
            <div class="content_menu_item {if $tabs eq(3)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=3">FOLLOWING</a></div>
            <div class="content_menu_item {if $tabs eq(2)}activ_menu{/if} "><a href ="/member/profile.php?profile_id={$actorId}&tabs=2">FOLLOWERS</a></div>
            <div style="clear:both;"></div>
        </div>
            {if $tabs eq(0)}
                {component SiteNewsfeed class='component_SiteNewsfeed'  feedType='site' feedId=$actorId displayCount=5}
            {/if}
            {if $tabs eq(1)}
                {component ProfileFantasiesList profile_id=$actorId}
            {/if}
            {if $tabs eq(5)}
                 {component ViewWorck profile_id=$actorId}
            {/if}
            {if $tabs eq(6)}
                    {component ViewWorck profile_id=$actorId}
            {/if}
            {if $tabs eq(4)}
                  {component MyReview profile_id=$actorId type='profile'}
            {/if}
            {if $tabs eq(3)}
                   {component ProfileFillowing profile_id=$actorId}
            {/if}
            {if $tabs eq(2)}
                    {component ProfileFillowers profile_id=$actorId}
            {/if}
        </div>
</div>
            
{/canvas}
