<div id="head_white">
        <div class="row container">
                <div class="center span9">
                    <div style="height: 10px;"></div>
                     {if !$is_authenticated}
                         <div class="row" >
                                <div class="span1">
                                      
                                </div>
                                <div class="span1" style="margin-top: 10px; margin-left: 0;">
                                    <div id="title_head"><a href="/member/" >Sign In</a></div>
                                </div>
                            <div class="span1" style="width: 2px; height: 20px; margin-top: 10px; border-right: solid 1px #2790bf;  margin-left: 5px; margin-right: 5px;"></div>
                                 <div class="span1" style="margin-top: 10px; margin-left: 0;">
                                    <div id="title_head" ><a href="/member/join.php">Sign Up</a></div>
                                </div>
                        </div>
                    {else}
                        <div class="row">
                            <div class="span1" id="head_white_profile_thumb">
                                          {profile_thumb profile_id=$profile_id size=40 }
                                </div>
                                <div class="span4" style="margin: 0; text-align: left;">
                                        <div id="title_head">Bangawoyo {$u}!</div>
                                        <div id="desc_head">Now you know how to greet people in Korean!</div>
                                </div>
                                 <div class="span1" style="margin-top: 10px; margin-left: 0;">
                                    <div id="title_head" ><a href="/member/sign_out.php">Sign Out</a></div>
                                </div>
                        </div>
                    {/if}
                </div>
        </div>
</div>

<div class="head">
            <div class="row container">
                <div class="center span9">
                    <div class="row">
                        <div class="menu_top span3" style="text-align:left;width: 174px;">
                            {if !$is_authenticated}
                            <div class="start_kuinkey">
                                START KUINKING NOW!
                                CREATE A<a href="/member/join.php"> FREE ACCOUNT</a>
                            </div>
                             {else}
                            <div style="height:20px;"></div>
                            <a href="/latest_video.php">FANTASYLAND</a> <span class="p_bl">|</span> <a href="/member/edit_profile.php">MY PROFILE</a>
                             {/if}
                        </div>
                        <div class="menu_top span3">
                            <span class="pointer_coursor menu_text">HOW TO KUINKEY</span>
                        </div>
                        <div class="span1" style="width: 16px;">
                        </div>	
                        <div class="menu_top span2">
                            {if $is_authenticated}
                                    <div class="pointer_coursor mail_notice"  onclick="document.location='/member/mailbox.php'">
                                    {if $new_messages>0}<div class="round_count"><span>{$new_messages}</span></div>{/if}
                                    </div>
                                        <div class="pointer_coursor message_notice" onclick="document.location='/member/notice.php'">
                                          {if $new_notice>0}<div class="round_count"><span>{$new_notice}</span></div>{/if}
                                    </div>
                                        <div class="pointer_coursor key_notice"  onclick="document.location='/member/my_credits.php'">
                                    </div>
                                        <div id="key_count"  onclick="document.location='/member/my_credits.php'">
                                            {$fkey}
                                    </div>
                            {/if}
                        </div>
                        <div class="pointer_coursor social menu_top span2">
                            <div class="upgrade_kuinkey">
                                <a href="/member/payment_selection.php">UPGRADE TO KUINKEY+</a>
                            </div>
                        {*    
                            <div style="height:10px"></div>
                            <a href="http://facebook.com/">
                                    <img src="/static/img/facebook.png" alt="facebook">
                             </a>
                             <a href="http://twitter.com/">
                                    <img src="/static/img/twitter.png" alt="twitter">
                             </a>
                            *}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
       {****************}
       
       <div class="head_darck">
            <div class="row container">
                <div class="center span9">
                    
                    <div class="content_100">
                        <!--чёрная верхняя линия-->
                        <div class="content_head row-fluid">
                                <div class="span2">
                                    <span class="menu_text" style="font-size:13px"></span>
                                </div>
                                <div class="span4">
                                    <span class="menu_text">I AM 
                                        <div class="header_radio">
                                            <input type="radio" name="sex_user" />male
                                            <input type="radio" name="sex_user" />female
                                            <input type="radio" name="sex_user" />trans
                                        </div>
                                    </span>
                                </div>
                                <div class="span5">
                                    <span class="menu_text">LOOKING FOR
                                        <div class="header_radio">
                                            <input type="radio" name="sex_looking" />male
                                            <input type="radio" name="sex_looking" />female
                                            <input type="radio" name="sex_looking" />trans
                                        </div>
                                    </span>
                                </div>
                                <div style="clear:both;"></div>
                        </div>
                    
                </div>
            </div>
        </div>
        </div>
       
       {****************}   
       
        <div style="height:30px"></div>
        <div class="row container">
            <div class="row"> 
                <div class="center span9">
                    
                    {if $index}
                    <div class="content_100">

                        
                                    <img style="margin-top: -30px; width: 815px;" src="/layout/img/slaider.png" />
  
                   </div>
                 
                     <div style="height:30px"></div>
                    {/if}