{* Component Profile References*}

{container class="list_menu"}

{* Reference Prototype node *}
              <div class="reference prototype_node">
                        <a href="javascript://"></a>
              </div>

{/container}