{* component Report Form *}

{if $reporter_id}
{container class="report"}
	{if $show_link}
	 <a {id="button_show"} href="javascript://">{text %link_report}</a> 
	{else}
                 <input {id="button_show"} class="read_more" style="width: 100px;" type="button" value="Report content" /> 
	{/if}
	<div {id="report_cont"} style="display: none">
                           {form Report reporter_id=$reporter_id entity_id=$entity_id type=$type}

                                                 <div class="padding10">
                                                        <div class="row popup_form">
                                                         Write your comment: 
                                                       </div>
                                                       <div class="row popup_form">

                                                                    {input name='reason' class='area_small'}

                                                       </div>
                                                        <div class="right row popup_form">
                                                                   <input type="submit" value="submit" />
                                                                   <input class="read_more" type="button" value="cancel" />
                                                       </div>
                                                 </div>

                           {/form}
	</div>
{/container}
{/if}
