{* Httpdoc Profile Video *}
{canvas}
<br />
	<div class="float_half_left wide">
		{component ProfileVideoList}
	</div>
	<div class="float_half_right narrow">
		{component VideoUpload}
	</div>
{/canvas}
