{* component Invate Friend (PrivateInvite.cmp.php)*}
{container stylesheet="invite_fantasy.style"}
{if $reporter_id}
{container class="report"}
	
{if $show_link}
	 <a id="button_invete" href="javascript://">Invite to Fantasy</a> 
	{else}
	<input id="button_invete" type="button" value="Invite to Fantasy" /> 
	{/if}
	<div id="invete" style="display: none">
		{form InviteFantasy reporter_id=$reporter_id entity_id=$entity_id type=$type}
			{* <p class="center">
                                                            <select name="fantasy_id">
                                                                {foreach from=$my_fantasy_list item=option}
                                                                    <option value="{$option.id}" >{$option.title}</option>
                                                                {/foreach}
                                                            </select>
                                                            <textarea name="messag"></textarea>
                                                       </p>
			<p class="center">{button action='add'}</p>
                        {*<input type="submit" value="Invite" />*}
                   <div class="rows_form">
                        <div class="left_cols_form">Is this offer related to an existing fantasy?</div>
                        <div class="right_cols_form">
                            <div>
                                <input type="radio" name="offer_type" checked="checked" /><b>Yes</b> -I pick which one
                            </div>
                            <div>
                                <input type="radio" name="offer_type" onclick="document.location = 'fantasy.php?performer={$entity_id}'" /><b>No</b> - Automatically create a new private fantasy for this offer
                            </div>
                        </div>
                        <br clear="all" />
                    </div>
                    <div class="rows_form">
                        <div class="left_cols_form">Fantasy</div>
                        <div class="right_cols_form">
                            <select name="fantasy_id" id="select_fantasy" onchange="UpdateFantasyInfo();">
                                 <option value="0">-- Select Fantasy --</option>
                                {foreach from=$my_fantasy_list item=option}
                                    <option value="{$option.id}">{$option.title}</option>
                                {/foreach}
                            </select>
                        </div>
                        <br clear="all" />
                    </div> 
                    <div class="rows_form">
                        <div class="left_cols_form">Price offer:</div>
                        <div class="right_cols_form"><input type="text" value="" name="budget" id="budget" /></div>
                        <br clear="all" />
                        <div class="left_cols_form">Kuinkey.com fee:</div>
                        <div class="right_cols_form" id="kuinkey_fee"></div>
                        <br clear="all" />
                        <div class="left_cols_form">Paid to Performer:</div>
                        <div class="right_cols_form" id="paid_to_performer"></div>
                        <br clear="all" />
                    </div>  
                    <div class="rows_form">
                        <div class="left_cols_form">Lenght video:</div>
                        <div class="right_cols_form" id="video_length"></div>
                        <br clear="all" />
                    </div>
                    <div class="rows_form">
                        <div class="left_cols_form">Completion Date</div>
                        <div class="right_cols_form"><input type="text" name="completion_date" id="datapicker2" value="{$worck_info.completion_date}"  /></div>
                        <br clear="all" />
                    </div>
                    <div class="rows_form">
                        <div class="left_cols_form">Message to Performer</div>
                        <div class="right_cols_form"><textarea name="messag"></textarea></div>
                        <br clear="all" />
                    </div> 
                    <div class="rows_form">
                        <input type="submit" value="Invite" />
                        <input type="button" value="Cancel"  />
                        <br clear="all" />
                    </div>         
    {/form}
  </div>
                
                
                       
                
{/container}
{/if}
